.catalyx-blog-container .blog-container {
  max-width: 800px;
  margin: 50px auto;
}
@media only screen and (min-width: 1280px) {
  .catalyx-blog-container .blog-container {
    margin: 75px auto;
  }
}
.catalyx-blog-container .blog-hero {
  margin-bottom: 25px;
}
@media only screen and (min-width: 1280px) {
  .catalyx-blog-container .blog-hero {
    margin-bottom: 50px;
  }
}
.catalyx-blog-container .blog-hero .top {
  display: flex;
  gap: 5px;
}
.catalyx-blog-container .blog-hero .left {
  color: #160F50;
  font-weight: 600;
}
.catalyx-blog-container .blog-hero .right {
  color: #160F50;
}
.catalyx-blog-container .blog-hero h2 {
  color: #8655FF;
}
.catalyx-blog-container p {
  color: #160F50;
}
.catalyx-blog-container a {
  text-decoration: none;
  font-weight: 600;
  color: #160F50;
}
.catalyx-blog-container h1,
.catalyx-blog-container h2,
.catalyx-blog-container h3,
.catalyx-blog-container h4,
.catalyx-blog-container h5,
.catalyx-blog-container h6 {
  color: #160F50;
  margin: 1em;
}

/*# sourceMappingURL=style.css.map */
