@import "mixins.scss";


.catalyx-blog-container {
  .blog-container {
    max-width: 800px;
    margin: 50px auto;
    @include screen(1280) {
      margin: 75px auto;
    }
  }
  .blog-hero {
    margin-bottom: 25px;
    @include screen(1280) {
      margin-bottom: 50px;
    }
    .top {
      display:flex;
      gap:5px;
    }
    .left {
      color:#160F50;
      font-weight: 600;
    }
    .right {
      color:#160F50;
    }
    h2 {
      color:#8655FF;
    }
  }
  p {
    color:#160F50;
  }
  a {
    text-decoration: none;
    font-weight: 600;
    color:#160F50;
  }
  @include headings() {
    color:#160F50;
    margin: 1em;
  }
}

