{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="container">
    <div class="blog-container">
      <div class="blog-hero">
        <div class="top">
          <div class="left">News</div>
          <div class="mid">|</div>
          <div class="right">{{post.date}}</div>
        </div>
        <div class="bot">
          <div class="blog-title"><h2>{{post.title}}</h2></div>
        </div>
      </div>
      <div class="blog-content">
        <InnerBlocks />
      </div>
    </div>
  </div>
</section>
{% endblock %}

