{% set token = fn('get_option', 'image_cdn_token') %}
<img
    src="{% if cdn %}https://{{token}}.cloudimg.io/v7/{% endif %}{{image.url}}"
    
    alt="{{image.alt}}"

    {% if lazy %}

    loading="lazy"

    {% endif %}

    {% if size %}

    {% else %}

    height="{{image.height}}"

    width="{{image.width}}"

    {% endif %}

>