{% extends "block-base.twig" %}

{% block content %}
<section class="image-text {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="media image-placeholder">
                <picture>
                    <source media="(min-width: 1921px)" srcset="https://aonndpeydo.cloudimg.io/v7/{{fields.content.image.url}}?func=fit&w=910">
                    <source media="(min-width: 1280px)" srcset="https://aonndpeydo.cloudimg.io/v7/{{fields.content.image.url}}?func=fit&w=610">
                    <source media="(min-width: 1024px)" srcset="https://aonndpeydo.cloudimg.io/v7/{{fields.content.image.url}}?func=fit&w=510">
                    <source media="(min-width: 768px)" srcset="https://aonndpeydo.cloudimg.io/v7/{{fields.content.image.url}}?func=fit&w=500">
                    <source media="(min-width: 400px)" srcset="https://aonndpeydo.cloudimg.io/v7/{{fields.content.image.url}}?func=fit&w=400">
                    <source srcset="https://aonndpeydo.cloudimg.io/v7/{{fields.content.image.url}}?func=fit&w=300">
                    <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.image.url}}?func=fit&w=900" alt="{{fields.content.image.alt}}" loading="lazy" height="{{fields.content.image.height}}" width="{{fields.content.image.width}}">
                </picture>
            </div>
            <div class="flex">
                <InnerBlocks/>
            </div>
        </div>
    </div>
</section>
{% endblock %}
