@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact-block-one {
  position: relative;
  .shadow {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
    @include screen (0, 764) {
      display: none;
    }
  }
  .rectangle {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 335px;
    background: #8655FF;
    @include screen (0, 414) {
      height: 80.91vw;
    }
  }
  h1 {
    font-weight: 800;
    color: white;
  }
  h2 {
    font-weight: 800;
    color: #8655FF;
    font-size: 40px;
    margin-bottom: 25px !important;
  }
  h3 {

    font-weight: 600;
    color: #00B1FF;

  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width: 1281px;
    padding: 44px 0 83px 0;
    align-items: flex-start;
    gap: 20px;
    margin-left: 362px;
    z-index: 3;
    @include screen (0, 1663) {
      margin: 0 auto;
    }
    @include screen (0, 1321) {
      margin: 0 20px;
    }
    @include screen (0, 1024) {
      flex-direction: column;
      align-items: center;
      padding: 4.3vw 0 8.1vw 0;
    }
    @include screen (0, 414) {
      gap: 4.83vw;
      margin: 0 4.83vw;
    }
    .left {
      width: 752px;
      align-items: flex-start;
      z-index: 3;
      @include screen (0, 1024) {
        width: 80%;
      }
      @include screen (0, 764) {
        width: 100%;
      }
      p {
        color: white;
        padding-bottom: 25px;
        margin-bottom: 0;
        @include screen (0, 414) {
          margin-bottom: 5.31vw;
        }
      }
      .form {
        background: white;
        box-shadow: 8px 5px 68px #28334D31;
        width: 100%;
      }
    }
    .right {
      background: white;
      z-index: 3;
      width: 509px;
      padding: 40px;
      box-shadow: 8px 5px 68px #28334D31;
      @include screen (0, 1024) {
        width: 80%;
      }
      @include screen (0, 764) {
        width: 100%;
        padding: 6.15vw 11.12vw 6.28vw 7.07vw;
      }
      p {
        color: #37379B;
      }
      .bold {
        color: #160F50;
        margin-top: 8px;
        @include screen (0, 414) {
          margin-top: 1.93vw;
        }
      }
      .headline {
        width: 100%;
        column-gap: 27px;
        margin-bottom: 24px;
        z-index: 3;
        align-items: flex-start;
        @include screen (0, 414) {
          margin-bottom: 5.8vw;
        }
      }
      .europe {
        border-top: 0.25px solid #ABE5FF;
        border-bottom: 0.25px solid #ABE5FF;
        padding: 24px 0;
        width: 100%;
        align-items: flex-start;
        z-index: 3;
        @include screen (0, 414) {
          padding: 5.8vw 0;
        }
        p {
          margin-left: 37px;
          @include screen (0, 414) {
            margin-left: 8.9vw;
          }  
        }
      }
      .usa {
        padding: 24px 0 48px 0;
        align-items: flex-start;
        z-index: 3;
        width: 100%;
        @include screen (0, 414) {
          padding: 5.8vw 0 11.6vw 0;
        }
        p {
          margin-left: 37px;
          @include screen (0, 414) {
            margin-left: 8.9vw;
          }  
        }
      }
    }
  }
  .light-purple {
    color:#8655FF !important;
  }
  .dark-purple {
    color:#160F50 !important;
    font-weight: 500;
    strong {
        font-weight: 600 !important;
    }
  }
  .bold {
    margin-bottom: 0;
    margin-top: 15px;
  }
  .europe,
  .usa {
    h3 {
        margin-bottom: 15px;
        font-size: 20px;
        @include screen(1280) {
            font-size: 24px;
        }
        & > * {
            color:#00B1FF !important;
        }
    }
  }
  .form {
    padding: 25px;
    @include screen(1280) {
        padding: 45px;
    }
    .gform_title {
        color:#160F50;
        margin: 0;
    }
    .gform_description {
        display:none;
    }
    .gfield_required {
        display:none;
    }
    input {
        &:not(.gfield-choice-input) {
            width: 100%;
            padding: 19px 10px;
            border:1px solid #828B94;
        }
        &::placeholder {
            color:#828B94;
            font-family: "Plus Jakarta Sans";
        }
    }
    label {
        margin: 10px 0;
        display: block;
        color:#0D1320;
        font-weight: 600;
    }
    .gfield_radio {
        label {
            margin: 10px 0;
            display: inline !important;
            color:#0D1320;
            font-weight: 600;
        }
    }
    textarea {
        width: 100%;
        padding: 19px 10px;
        border:1px solid #828B94;
        &::placeholder {
            color:#828B94;
            font-family: "Plus Jakarta Sans";
        }
    }
  }
  .gform_button {
    background:#B7E539;
    color:#28334D;
    font-weight: 500;
    cursor:pointer;
    border:none !important;
    @include screen(768) {
        width: 285px !important;
    }
  }
  .gfield--type-choice {
    margin: 15px 0;
    legend {
        font-size: 16px;
        margin-bottom: 10px;
    }
    label {
        font-size: 16px;
    }
  }
  .gform_fields {
    @include screen(768) {
        display: flex;
        flex-wrap: wrap;
        column-gap:25px;
        row-gap:15px;
    }
    .gfield--width-half {
        @include screen(768) {
            flex:0 0 calc(50% - 25px);
        }
    }
    .gfield--width-full {
        @include screen(768) {
            flex:0 0 calc(100% - 25px);
        }
    }
  }
  .gform_submission_error {
    font-size: 16px;
  }
  .gfield_validation_message {
    font-size: 16px;
    color:#00B1FF;
  }
}
