* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-block-one {
  position: relative;
}
.contact-block-one .shadow {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.contact-block-one .shadow img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 764px) {
  .contact-block-one .shadow {
    display: none;
  }
}
.contact-block-one .rectangle {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 335px;
  background: #8655FF;
}
@media only screen and (max-width: 414px) {
  .contact-block-one .rectangle {
    height: 80.91vw;
  }
}
.contact-block-one h1 {
  font-weight: 800;
  color: white;
}
.contact-block-one h2 {
  font-weight: 800;
  color: #8655FF;
  font-size: 40px;
  margin-bottom: 25px !important;
}
.contact-block-one h3 {
  font-weight: 600;
  color: #00B1FF;
}
.contact-block-one .dsp-c-c,
.contact-block-one .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-block-one .dsp-c-c {
  flex-direction: column;
}
.contact-block-one .inner-container {
  max-width: 1281px;
  padding: 44px 0 83px 0;
  align-items: flex-start;
  gap: 20px;
  margin-left: 362px;
  z-index: 3;
}
@media only screen and (max-width: 1663px) {
  .contact-block-one .inner-container {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1321px) {
  .contact-block-one .inner-container {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .contact-block-one .inner-container {
    flex-direction: column;
    align-items: center;
    padding: 4.3vw 0 8.1vw 0;
  }
}
@media only screen and (max-width: 414px) {
  .contact-block-one .inner-container {
    gap: 4.83vw;
    margin: 0 4.83vw;
  }
}
.contact-block-one .inner-container .left {
  width: 752px;
  align-items: flex-start;
  z-index: 3;
}
@media only screen and (max-width: 1024px) {
  .contact-block-one .inner-container .left {
    width: 80%;
  }
}
@media only screen and (max-width: 764px) {
  .contact-block-one .inner-container .left {
    width: 100%;
  }
}
.contact-block-one .inner-container .left p {
  color: white;
  padding-bottom: 25px;
  margin-bottom: 0;
}
@media only screen and (max-width: 414px) {
  .contact-block-one .inner-container .left p {
    margin-bottom: 5.31vw;
  }
}
.contact-block-one .inner-container .left .form {
  background: white;
  box-shadow: 8px 5px 68px rgba(40, 51, 77, 0.1921568627);
  width: 100%;
}
.contact-block-one .inner-container .right {
  background: white;
  z-index: 3;
  width: 509px;
  padding: 40px;
  box-shadow: 8px 5px 68px rgba(40, 51, 77, 0.1921568627);
}
@media only screen and (max-width: 1024px) {
  .contact-block-one .inner-container .right {
    width: 80%;
  }
}
@media only screen and (max-width: 764px) {
  .contact-block-one .inner-container .right {
    width: 100%;
    padding: 6.15vw 11.12vw 6.28vw 7.07vw;
  }
}
.contact-block-one .inner-container .right p {
  color: #37379B;
}
.contact-block-one .inner-container .right .bold {
  color: #160F50;
  margin-top: 8px;
}
@media only screen and (max-width: 414px) {
  .contact-block-one .inner-container .right .bold {
    margin-top: 1.93vw;
  }
}
.contact-block-one .inner-container .right .headline {
  width: 100%;
  column-gap: 27px;
  margin-bottom: 24px;
  z-index: 3;
  align-items: flex-start;
}
@media only screen and (max-width: 414px) {
  .contact-block-one .inner-container .right .headline {
    margin-bottom: 5.8vw;
  }
}
.contact-block-one .inner-container .right .europe {
  border-top: 0.25px solid #ABE5FF;
  border-bottom: 0.25px solid #ABE5FF;
  padding: 24px 0;
  width: 100%;
  align-items: flex-start;
  z-index: 3;
}
@media only screen and (max-width: 414px) {
  .contact-block-one .inner-container .right .europe {
    padding: 5.8vw 0;
  }
}
.contact-block-one .inner-container .right .europe p {
  margin-left: 37px;
}
@media only screen and (max-width: 414px) {
  .contact-block-one .inner-container .right .europe p {
    margin-left: 8.9vw;
  }
}
.contact-block-one .inner-container .right .usa {
  padding: 24px 0 48px 0;
  align-items: flex-start;
  z-index: 3;
  width: 100%;
}
@media only screen and (max-width: 414px) {
  .contact-block-one .inner-container .right .usa {
    padding: 5.8vw 0 11.6vw 0;
  }
}
.contact-block-one .inner-container .right .usa p {
  margin-left: 37px;
}
@media only screen and (max-width: 414px) {
  .contact-block-one .inner-container .right .usa p {
    margin-left: 8.9vw;
  }
}
.contact-block-one .light-purple {
  color: #8655FF !important;
}
.contact-block-one .dark-purple {
  color: #160F50 !important;
  font-weight: 500;
}
.contact-block-one .dark-purple strong {
  font-weight: 600 !important;
}
.contact-block-one .bold {
  margin-bottom: 0;
  margin-top: 15px;
}
.contact-block-one .europe h3,
.contact-block-one .usa h3 {
  margin-bottom: 15px;
  font-size: 20px;
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .europe h3,
  .contact-block-one .usa h3 {
    font-size: 24px;
  }
}
.contact-block-one .europe h3 > *,
.contact-block-one .usa h3 > * {
  color: #00B1FF !important;
}
.contact-block-one .form {
  padding: 25px;
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .form {
    padding: 45px;
  }
}
.contact-block-one .form .gform_title {
  color: #160F50;
  margin: 0;
}
.contact-block-one .form .gform_description {
  display: none;
}
.contact-block-one .form .gfield_required {
  display: none;
}
.contact-block-one .form input:not(.gfield-choice-input) {
  width: 100%;
  padding: 19px 10px;
  border: 1px solid #828B94;
}
.contact-block-one .form input::placeholder {
  color: #828B94;
  font-family: "Plus Jakarta Sans";
}
.contact-block-one .form label {
  margin: 10px 0;
  display: block;
  color: #0D1320;
  font-weight: 600;
}
.contact-block-one .form .gfield_radio label {
  margin: 10px 0;
  display: inline !important;
  color: #0D1320;
  font-weight: 600;
}
.contact-block-one .form textarea {
  width: 100%;
  padding: 19px 10px;
  border: 1px solid #828B94;
}
.contact-block-one .form textarea::placeholder {
  color: #828B94;
  font-family: "Plus Jakarta Sans";
}
.contact-block-one .gform_button {
  background: #B7E539;
  color: #28334D;
  font-weight: 500;
  cursor: pointer;
  border: none !important;
}
@media only screen and (min-width: 768px) {
  .contact-block-one .gform_button {
    width: 285px !important;
  }
}
.contact-block-one .gfield--type-choice {
  margin: 15px 0;
}
.contact-block-one .gfield--type-choice legend {
  font-size: 16px;
  margin-bottom: 10px;
}
.contact-block-one .gfield--type-choice label {
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .contact-block-one .gform_fields {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .contact-block-one .gform_fields .gfield--width-half {
    flex: 0 0 calc(50% - 25px);
  }
}
@media only screen and (min-width: 768px) {
  .contact-block-one .gform_fields .gfield--width-full {
    flex: 0 0 calc(100% - 25px);
  }
}
.contact-block-one .gform_submission_error {
  font-size: 16px;
}
.contact-block-one .gfield_validation_message {
  font-size: 16px;
  color: #00B1FF;
}

/*# sourceMappingURL=style.css.map */
