{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="shadow">
      <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shape.url}}" alt="shadow">
    </div>
    <div class="rectangle"></div>
    <div class="inner-container dsp-c-r">
      <div class="left dsp-c-c">
        <h1>
          Book a demo
        </h1>
        <p>
          Arrange a demo with us today, or simply get in touch for more info.
        </p>
        <div class="form">
          [gravityform id="1" title="true"]
        </div>
      </div>
      <div class="right dsp-c-c">
        <div class="headline dsp-c-c">
          <h2>
            Contact us!
          </h2>
          <p>
            <span class="light-purple">Email</span>: info@catalyx.ai <span class="dark-purple">or</span> contact your nearest location below:
          </p>
        </div>
        <div class="europe dsp-c-c">
          <h3>
            Europe
          </h3>
          <p class="bold">
            <span class="dark-purple"><strong>Cork, Ireland</strong></span>
          </p>
          <p class="light">
            <span class="light-purple">Tel:</span> +353 (0) 21 452 47 67
          </p>
          <p class="bold">
            <span class="dark-purple"><strong>Corby, United Kingdom</strong></span>
          </p>
          <p class="light">
            <span class="light-purple">Tel:</span> +44 (0) 1536 560275
          </p>
          <p class="bold">
            <span class="dark-purple"><strong>Bonheiden, Belgium</strong></span>
          </p>
          <p class="light">
            <span class="light-purple">Tel:</span> +32 (0) 15 745 200
          </p>
          <p class="bold">
            <span class="dark-purple"><strong>Gothenburg, Sweden</strong></span>
          </p>
          <p class="light">
            <span class="light-purple">Tel: +46 (0) 31 87 55 55
          </p>
        </div>
        <div class="usa">
          <h3>
            <span class="dark-purple"><strong>United States of America</strong></span>
          </h3>
          <p class="bold">
            <span class="dark-purple"><strong>Newtown, Pennsylvania</strong></span>
          </p>
          <p class="light">
            Tel: +1 215 493 7091
          </p>
          <p class="bold">
            <span class="dark-purple"><strong>Montgomeryville, Pennsylvania</strong></span>
          </p>
          <p class="light">
            <span class="light-purple">Tel:</span> +1 267 421 5300
          </p>
          <p class="bold">
            <span class="dark-purple"><strong>Columbia, Maryland</strong></span>
          </p>
          <p class="light">
            <span class="light-purple">Tel:</span> +1 301 709 5300
          </p>
          <p class="bold">
            <span class="dark-purple"><strong>Albany, New York</strong></span>
          </p>
          <p class="light">
            <span class="light-purple">Tel:</span> +1 518 541 5300
          </p>
          <p class="bold">
            <span class="dark-purple"><strong>Boston, Massachusetts</strong></span>
          </p>
          <p class="light">
           <span class="light-purple">Tel:</span> +1 781 951 5300
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}