.spacer {
  height: 102px;
  background: #8655FF;
}

.thank-you {
  background: #8655FF;
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding: 25px;
}
@media only screen and (min-width: 1024px) {
  .thank-you {
    padding: 0px;
  }
}
.thank-you * {
  color: white;
}
.thank-you .left {
  font-size: 90px;
  line-height: 0.8;
  font-weight: 500;
  text-align: right;
}
@media only screen and (min-width: 1024px) {
  .thank-you .left {
    font-size: 125px;
  }
}
@media only screen and (min-width: 1280px) {
  .thank-you .left {
    font-size: 200px;
    flex: 0 0 575px;
  }
}
.thank-you .right {
  border-top: 2px solid white;
  padding: 25px 0;
  margin: 20px 0;
  text-align: right;
}
@media only screen and (min-width: 1024px) {
  .thank-you .right {
    padding: 25px;
    text-align: unset;
    margin: 0;
    margin-left: 25px;
    border-top: none;
    border-left: 2px solid white;
  }
}
.thank-you .top {
  font-size: 34px;
  line-height: 1;
}
@media only screen and (min-width: 1024px) {
  .thank-you .top {
    width: 350px;
  }
}
.thank-you .mid {
  font-size: 24px;
  line-height: 1;
  margin: 10px 0;
}
.thank-you .bot {
  font-size: 22px;
  line-height: 1;
}
.thank-you .bot a {
  text-decoration: none;
}
.thank-you .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .thank-you .wrapper {
    flex-direction: row;
  }
}
.thank-you .container {
  max-width: 100%;
}
@media only screen and (min-width: 1024px) {
  .thank-you .container {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
