{% extends "block-base.twig" %}

{% block content %}
<div class="spacer hide-mobile"></div>
<section class="{{blockClasses(block)}}" {{blockSection(block)}} style="--bg:url('/wp-content/themes/catalyx/blocks/thank-you/bg.png')">
    <div class="container">
        <div class="wrapper">
            <div class="left">Thank You</div>
            <div class="right">
                <div class="top">The Catalyx team will contact you shortly.</div>
                <div class="mid">Prefer to give us a call?</div>
                <div class="bot"><a href="/">Go Back</a></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
