@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-video-hero {
  position: relative;
  .shadow {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    @include screen (0, 1024) {
      display: none
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  h1 {
    font-weight: 400;
    line-height: 1;
    color: #160F50;
  }
  p {
    color: #160F50;
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width: 1194px;
    margin: 0 auto;
    padding: 120px 0 116px 0;
    gap: 12px;
    @include screen (0, 1234) {
      margin: 0 20px;
    }
    @include screen (0, 1024) {
      flex-direction: column;
      padding: 12.4vw 0 11.32vw 0;
    }
    @include screen (0, 414) {
      margin:0  4.83vw;
      gap: 2.9vw;
    }
    .left {
      align-items: flex-start;
      width: 470px;
      gap: 20px;
      z-index: 2;
      @include screen (0, 1024) {
        width: 70%;
      }
      @include screen (0, 764) {
        width: 100%;
      }
      @include screen (0, 414) {
        gap: 4.83vw;
      }

    }
    .right {
      width: 713px;
      height: 400px;
      z-index: 2;
      @include screen (0, 1024) {
        width: 70%;
        height: auto;
      }
      @include screen (0, 764) {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .right {
    video {
      width: 100%;
      height: auto;
      box-shadow: 0 3px 6px rgba(0,0,0,.16);
    }
  }
}
