* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-video-hero {
  position: relative;
}
.catalyx-video-hero .shadow {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .catalyx-video-hero .shadow {
    display: none;
  }
}
.catalyx-video-hero .shadow img {
  width: 100%;
  height: 100%;
}
.catalyx-video-hero h1 {
  font-weight: 400;
  line-height: 1;
  color: #160F50;
}
.catalyx-video-hero p {
  color: #160F50;
}
.catalyx-video-hero .dsp-c-c,
.catalyx-video-hero .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-video-hero .dsp-c-c {
  flex-direction: column;
}
.catalyx-video-hero .inner-container {
  max-width: 1194px;
  margin: 0 auto;
  padding: 120px 0 116px 0;
  gap: 12px;
}
@media only screen and (max-width: 1234px) {
  .catalyx-video-hero .inner-container {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .catalyx-video-hero .inner-container {
    flex-direction: column;
    padding: 12.4vw 0 11.32vw 0;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-video-hero .inner-container {
    margin: 0 4.83vw;
    gap: 2.9vw;
  }
}
.catalyx-video-hero .inner-container .left {
  align-items: flex-start;
  width: 470px;
  gap: 20px;
  z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .catalyx-video-hero .inner-container .left {
    width: 70%;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-video-hero .inner-container .left {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-video-hero .inner-container .left {
    gap: 4.83vw;
  }
}
.catalyx-video-hero .inner-container .right {
  width: 713px;
  height: 400px;
  z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .catalyx-video-hero .inner-container .right {
    width: 70%;
    height: auto;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-video-hero .inner-container .right {
    width: 100%;
  }
}
.catalyx-video-hero .inner-container .right img {
  width: 100%;
  height: 100%;
}
.catalyx-video-hero .right video {
  width: 100%;
  height: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/*# sourceMappingURL=style.css.map */
