{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="shadow">
      <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shape.url}}" alt="shadow">
    </div>
    <div class="inner-container dsp-c-r">
      <div class="left dsp-c-c">
        <InnerBlocks />
      </div>
      <div class="right">
          <video autoplay loop playsinline muted preload="none">
            <source src="/wp-content/themes/catalyx/blocks/catalyx-video-hero/video.mp4" type="video/mp4">
                Your browser does not support HTML video.
          </video>
      </div>
    </div>
  </section>
{% endblock %}

