@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-colour-hero {
  background: #8655FF;
  position: relative;
  .rectangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 96px;
    background: #F1EFF9;
    z-index: 1;
    @include screen (0, 764){
      height: 12.58vw;
    }
  }
  h1 {
    font-weight: 500;
    color: white;
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width: 1281px;
    margin-left: 362px;
    padding: 96px 0 192px 0;
    @include screen (0, 1663) {
      margin: 0 auto;
    }
    @include screen (0, 1321) {
      margin: 0 20px;
    }
    @include screen (0, 764) {
      padding: 12.56vw 0 25.12vw 0;
    }
    @include screen (0, 414) {
      margin: 0 4.83vw;
    }
  }
}
