* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-colour-hero {
  background: #8655FF;
  position: relative;
}
.catalyx-colour-hero .rectangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 96px;
  background: #F1EFF9;
  z-index: 1;
}
@media only screen and (max-width: 764px) {
  .catalyx-colour-hero .rectangle {
    height: 12.58vw;
  }
}
.catalyx-colour-hero h1 {
  font-weight: 500;
  color: white;
}
.catalyx-colour-hero .dsp-c-c,
.catalyx-colour-hero .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-colour-hero .dsp-c-c {
  flex-direction: column;
}
.catalyx-colour-hero .inner-container {
  max-width: 1281px;
  margin-left: 362px;
  padding: 96px 0 192px 0;
}
@media only screen and (max-width: 1663px) {
  .catalyx-colour-hero .inner-container {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1321px) {
  .catalyx-colour-hero .inner-container {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-colour-hero .inner-container {
    padding: 12.56vw 0 25.12vw 0;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-colour-hero .inner-container {
    margin: 0 4.83vw;
  }
}

/*# sourceMappingURL=style.css.map */
