{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="rectangle"></div>
      <div class="inner-container">
        <InnerBlocks />
      </div>
  </section>
{% endblock %}

