.footer .top {
  background: #37379B;
  padding: 25px;
}
.footer .top .container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .footer .top .container {
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.footer .bot {
  padding: 35px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 1024px) {
  .footer .bot {
    padding: 30px;
  }
}
.footer .bot .left {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .footer .bot .left {
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}
.footer .bot .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 1024px) {
  .footer .bot .container {
    flex-direction: row;
  }
}
.footer .bot .footer-cp {
  color: #160F50;
}
.footer .bot .footer-menu-link {
  color: #160F50;
  font-weight: 400;
}
@media only screen and (min-width: 1024px) {
  .footer .bot .footer-menu-link:hover {
    text-decoration: none;
  }
}
.footer .bot .footer-social-list {
  display: flex;
  align-items: center;
  column-gap: 10vw;
}
@media only screen and (min-width: 768px) {
  .footer .bot .footer-social-list {
    column-gap: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer .bot .footer-social-list {
    column-gap: 13px;
  }
}
.footer .bot .footer-social .social a {
  transition: all 0.3s ease-out;
  text-decoration: none;
  height: 41px;
  width: 41px;
  display: block;
  border-radius: 50%;
  background: #8655FF;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .footer .bot .footer-social .social a {
    height: 25px;
    width: 25px;
  }
}
.footer .bot .footer-social .social a:hover {
  background: rgb(130, 139, 148);
}
.footer .bot .footer-social .social a:before {
  font-size: 19px;
  color: white;
  font-family: "icomoon";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 1024px) {
  .footer .bot .footer-social .social a:before {
    top: 25%;
    font-size: 12px;
  }
}
.footer .bot .footer-social .twitter a:before {
  content: "\e901";
}
.footer .bot .footer-social .linkedin a:before {
  content: "\e900";
}
.footer-cp {
  font-size: 14px;
}
@media only screen and (min-width: 1024px) {
  .footer-cp {
    margin-right: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-logo {
    margin-left: 75px;
  }
}
.footer-logo a {
  display: block;
}
.footer-logo img {
  max-width: 250px;
  display: block;
}
.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
}
@media only screen and (min-width: 1024px) {
  .footer-menu-list {
    margin: 0;
  }
}
.footer-menu-cp {
  font-size: 14px;
  line-height: 16px;
}
.footer-menu-link {
  transition: all 0.3s ease-out;
  color: white;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
@media only screen and (min-width: 1024px) {
  .footer-menu-link:hover {
    text-decoration: underline;
  }
}

/*# sourceMappingURL=style.css.map */
