{% extends "block-base.twig" %}

{% block content %}
<footer class="footer {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container">
            <div class="footer-logo">
                <a href="/"><img width="271" height="74" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/logo.svg" alt="logo"></a>
            </div>
            <div class="footer-menu">
                <list class="footer-menu-list">
                    {% for item in footer_primary_menu.get_items %}
                    <item class="footer-menu-item">
                        <a class="footer-menu-link" href="{{item.url}}">{{item.title}}</a>
                    </item>
                    {% endfor %}
                </list>
            </div>
        </div>
    </div>
    <div class="bot">
        <div class="container">
        <div class="left">
            <div class="footer-menu">
                <list class="footer-menu-list">
                    {% for item in footer_secondary_menu.get_items %}
                    <item class="footer-menu-item">
                        <a class="footer-menu-link" href="{{item.url}}">{{item.title}}</a>
                    </item>
                    {% endfor %}
                </list>
            </div>
            <div class="footer-cp">Copyright © {{ 'now' | date('Y') }}. All rights reserved.</div>
        </div>
        <div class="right">
            <div class="footer-social">
                <list class="footer-social-list">
                    <item class="social linkedin"><a href="https://www.linkedin.com/company/crest-solutions-a-cxv-global-company/" target="_blank"></a></item>
                    <item class="social twitter"><a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fcxvglobal" target="_blank"></a></item>
                </list>
            </div>
        </div>
        </div>
    </div>
</footer>
<script>
    let elementCallback = function (entries, observer) {
        entries.forEach(entry => {
            if(entry.isIntersecting) {
                entry.target.style.opacity = "100%";
                entry.target.style.transform = "translateZ(0)";
            }
        });
    };

    let elementObserver = new IntersectionObserver(elementCallback, { rootMargin: "-20% 0% -1% 0%", threshold: 0 } );

    document.querySelectorAll('.fade-up').forEach(function(e) {
        elementObserver.observe(e);
    });
</script>
{% endblock %}
