@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-text-hero {
  position: relative;
  .shadow {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    width: 1192px;
    height: 424px;
    @include screen (0, 1192) {
      width: 100vw;
      height: 35.57vw;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .rectangle {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 96px;
    background: #F1EFF9;
    @include screen (0, 1024) {
      height: 9.375vw;
    }
  }
  h1 {
    font-weight: 500;
    color: #160F50;
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width: 1196px;
    margin:0 auto;
    gap: 40px;
    align-items: flex-start;
    padding: 125px 0 250px;
    @include screen (0, 1236){
      margin: 0 20px;
    }
    @include screen (0, 1024) {
      padding: 15.625vw 0 26.46vw 0;
    }
    @include screen (0, 414) {
      margin: 0 4.83vw;
      gap: 9.66vw;
    }
    h1 {
      z-index: 3;
    }
  }
}
