* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-text-hero {
  position: relative;
}
.catalyx-text-hero .shadow {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  width: 1192px;
  height: 424px;
}
@media only screen and (max-width: 1192px) {
  .catalyx-text-hero .shadow {
    width: 100vw;
    height: 35.57vw;
  }
}
.catalyx-text-hero .shadow img {
  width: 100%;
  height: 100%;
}
.catalyx-text-hero .rectangle {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 96px;
  background: #F1EFF9;
}
@media only screen and (max-width: 1024px) {
  .catalyx-text-hero .rectangle {
    height: 9.375vw;
  }
}
.catalyx-text-hero h1 {
  font-weight: 500;
  color: #160F50;
}
.catalyx-text-hero .dsp-c-c,
.catalyx-text-hero .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-text-hero .dsp-c-c {
  flex-direction: column;
}
.catalyx-text-hero .inner-container {
  max-width: 1196px;
  margin: 0 auto;
  gap: 40px;
  align-items: flex-start;
  padding: 125px 0 250px;
}
@media only screen and (max-width: 1236px) {
  .catalyx-text-hero .inner-container {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .catalyx-text-hero .inner-container {
    padding: 15.625vw 0 26.46vw 0;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-text-hero .inner-container {
    margin: 0 4.83vw;
    gap: 9.66vw;
  }
}
.catalyx-text-hero .inner-container h1 {
  z-index: 3;
}

/*# sourceMappingURL=style.css.map */
