{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="shadow">
      <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shape.url}}" alt="shadow">
    </div>
    <div class="rectangle"></div>
    <div class="inner-container dsp-c-c">
      <InnerBlocks />
  </div>
  </section>
{% endblock %}