* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-block-nine h3 {
  font-weight: 500;
  color: #8655FF;
  text-align: center;
}
.catalyx-block-nine .number {
  color: #B7E539;
}
.catalyx-block-nine h4 {
  font-size: 20px;
  font-weight: 600;
  color: #160F50;
}
@media only screen and (min-width: 1280px) {
  .catalyx-block-nine h4 {
    font-size: 24px;
  }
}
.catalyx-block-nine .dsp-c-c,
.catalyx-block-nine .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-block-nine .dsp-c-c {
  flex-direction: column;
}
.catalyx-block-nine .inner-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 78px 0 93px 0;
  gap: 47px;
}
@media only screen and (max-width: 1380px) {
  .catalyx-block-nine .inner-container {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-nine .inner-container {
    padding: 10.2vw 0 12.17vw 0;
    gap: 6.15vw;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-nine .inner-container {
    margin: 0 4.83vw;
  }
}
.catalyx-block-nine .inner-container .boxes {
  width: 100%;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 47px;
}
@media only screen and (max-width: 764px) {
  .catalyx-block-nine .inner-container .boxes {
    column-gap: 6.15vw;
    row-gap: 5.23vw;
  }
}
.catalyx-block-nine .inner-container .boxes .box {
  justify-content: flex-start;
  width: 413px;
  height: 445px;
  box-shadow: 8px 5px 68px rgba(40, 51, 77, 0.1921568627);
  padding: 26px 54px 0 54px;
  position: relative;
}
@media only screen and (max-width: 453px) {
  .catalyx-block-nine .inner-container .boxes .box {
    width: 91.17vw;
    height: 98.23vw;
    padding: 5.74vw 11.92vw 0 11.92vw;
  }
}
.catalyx-block-nine .inner-container .boxes .box .SerNumb {
  width: 100%;
  z-index: 2;
  padding-bottom: 10px;
  border-bottom: 0.25px solid #9EA3C1;
}
@media only screen and (max-width: 453px) {
  .catalyx-block-nine .inner-container .boxes .box .SerNumb {
    padding-bottom: 2.2vw;
  }
}
.catalyx-block-nine .inner-container .boxes .box .SerNumb h3 {
  text-align: end;
}
.catalyx-block-nine .inner-container .boxes .box .text {
  padding: 15px 5px 0 5px;
  z-index: 2;
}
@media only screen and (max-width: 453px) {
  .catalyx-block-nine .inner-container .boxes .box .text {
    padding: 3.3vw 1.1vw 0 1.1vw;
  }
}
.catalyx-block-nine .inner-container .boxes .box .shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.catalyx-block-nine .inner-container .boxes .box .shape img {
  width: 100%;
  height: 100%;
}
.catalyx-block-nine .inner-container .boxes .box .rectangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 85%;
  height: 4px;
  background: #8655FF;
}
@media only screen and (max-width: 453px) {
  .catalyx-block-nine .inner-container .boxes .box .rectangle {
    height: 0.9vw;
  }
}
.catalyx-block-nine .inner-container .boxes .even {
  background: #7D85AA !important;
}
.catalyx-block-nine .inner-container .boxes .even .text h4 {
  color: white;
}

/*# sourceMappingURL=style.css.map */
