@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-block-nine {
  h3 {
    font-weight: 500;
    color: #8655FF;
    text-align: center;
  }
  .number {
    color: #B7E539;
  }
  h4 {
    font-size: 20px;
    font-weight: 600;
    color: #160F50;
    @include screen(1280) {
      font-size: 24px;
    }
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 78px 0 93px 0;
    gap: 47px;
    @include screen (0, 1380) {
      margin: 0 20px;
    }
    @include screen (0, 764) {
      padding: 10.2vw 0 12.17vw 0;
      gap: 6.15vw;
    }
    @include screen (0, 414) {
      margin: 0 4.83vw;
    }
    .boxes {
      width: 100%;
      flex-wrap: wrap;
      row-gap: 40px;
      column-gap: 47px;
      @include screen (0, 764) {
        column-gap: 6.15vw;
        row-gap: 5.23vw;
      }
      .box {
        justify-content: flex-start;
        width: 413px;
        height: 445px;
        box-shadow: 8px 5px 68px #28334D31;
        padding: 26px 54px 0 54px;
        position: relative;
        @include screen (0, 453) {
          width: 91.17vw;
          height: 98.23vw;
          padding: 5.74vw 11.92vw 0 11.92vw;          
        }
        .SerNumb {
          width: 100%;
          z-index: 2;
          padding-bottom: 10px;
          border-bottom: 0.25px solid #9EA3C1;
          @include screen (0, 453){
            padding-bottom: 2.2vw;
          }
          h3 {
            text-align: end;
          }
        }
        .text {
          padding: 15px 5px 0 5px;
          z-index: 2;
          @include screen (0, 453){
            padding: 3.3vw 1.1vw 0 1.1vw;
          }
        }
        .shape {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .rectangle {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 85%;
          height: 4px;
          background: #8655FF;
          @include screen (0, 453) {
            height: 0.9vw;
          }
        }
      }
      .even {
        background: #7D85AA !important;
        .text {
          h4 {
            color: white;
          }
        }
      }
    }
  }
}
