{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="inner-container dsp-c-c">
      <div class="headline">
        <h3>
          {{fields.content.headline}}
        </h3>
      </div>
      <div class="boxes dsp-c-r">
        <div class="box dsp-c-c odd">
          <div class="SerNumb">
            <h3 class="number">
              01
            </h3>
          </div>
          <div class="text">
            <h4>
              {{fields.content.textbox01}}
            </h4>
          </div>
          <div class="shape">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shapebox01.url}}" alt="mask-block-01">
          </div>
          <div class="rectangle"></div>
        </div>
        <div class="box dsp-c-c even">
          <div class="SerNumb">
            <h3 class="number">
              02
            </h3>
          </div>
          <div class="text">
            <h4>
              {{fields.content.textbox02}}
            </h4>
          </div>
          <div class="shape">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shapebox02.url}}" alt="mask-block-02">
          </div>
        </div>
        <div class="box dsp-c-c odd">
          <div class="SerNumb">
            <h3 class="number">
              03
            </h3>
          </div>
          <div class="text">
           <h4>
            {{fields.content.textbox03}}
           </h4>
          </div>
          <div class="shape">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shapebox03.url}}" alt="mask-block-03">
          </div>
          <div class="rectangle"></div>
        </div>
        <div class="box dsp-c-c even">
          <div class="SerNumb">
            <h3 class="number">
              04
            </h3>
          </div>
          <div class="text">
            <h4>
              {{fields.content.textbox04}}
            </h4>
          </div>
          <div class="shape">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shapebox04.url}}" alt="mask-block-04">
          </div>
        </div>
        <div class="box dsp-c-c odd">
          <div class="SerNumb">
            <h3 class="number">
              05
            </h3>
          </div>
          <div class="text">
           <h4>
            {{fields.content.textbox05}}
           </h4>
          </div>
          <div class="shape">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shapebox05.url}}" alt="mask-block-05">
          </div>
          <div class="rectangle"></div>
        </div>
        <div class="box dsp-c-c even">
          <div class="SerNumb">
            <h3 class="number">
              06
            </h3>
          </div>
          <div class="text">
            <h4>
              {{fields.content.textbox06}}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
