* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-stats-with-bg {
  margin-bottom: 25px;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .catalyx-stats-with-bg {
    margin-bottom: 50px;
  }
}
.catalyx-stats-with-bg h3 {
  font-weight: 500;
  color: #8655FF;
  text-align: center;
}
.catalyx-stats-with-bg p {
  font-weight: 400;
  color: #160F50;
  text-align: center;
}
.catalyx-stats-with-bg .bold {
  font-weight: 600;
  letter-spacing: 0.68px;
}
.catalyx-stats-with-bg .dsp-c-c,
.catalyx-stats-with-bg .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-stats-with-bg .dsp-c-c {
  flex-direction: column;
}
.catalyx-stats-with-bg .shadow {
  position: absolute;
  right: 0;
  top: 0;
  width: 90%;
  height: 100%;
  background: rgba(183, 229, 57, 0.1);
  border-radius: 25px 0 0 25px;
  z-index: 1;
}
@media only screen and (max-width: 1920px) {
  .catalyx-stats-with-bg .shadow {
    width: 1728px;
  }
}
@media only screen and (max-width: 1728px) {
  .catalyx-stats-with-bg .shadow {
    width: 100%;
    border-radius: 0;
  }
}
.catalyx-stats-with-bg .shadow img {
  position: absolute;
  top: 0;
  right: 0;
  width: 726px;
  height: 369px;
  z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .catalyx-stats-with-bg .shadow img {
    width: 70.9vw;
    height: 36vw;
  }
}
.catalyx-stats-with-bg .inner-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 75px 0;
  gap: 50px;
  z-index: 3;
}
@media only screen and (max-width: 1150px) {
  .catalyx-stats-with-bg .inner-container {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .catalyx-stats-with-bg .inner-container {
    padding: 9.375vw 0;
    gap: 8.2vw;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-stats-with-bg .inner-container {
    margin: 0 4.83vw;
  }
}
.catalyx-stats-with-bg .inner-container .headline {
  z-index: 3;
}
.catalyx-stats-with-bg .inner-container .boxes {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 3;
}
@media only screen and (max-width: 764px) {
  .catalyx-stats-with-bg .inner-container .boxes {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-stats-with-bg .inner-container .boxes {
    row-gap: 4.83vw;
  }
}
.catalyx-stats-with-bg .inner-container .boxes .box {
  width: 300px;
  padding: 0 38px;
  gap: 10px;
}
@media only screen and (max-width: 1024px) {
  .catalyx-stats-with-bg .inner-container .boxes .box {
    padding: 0;
    gap: 20px;
  }
}
@media only screen and (max-width: 640px) {
  .catalyx-stats-with-bg .inner-container .boxes .box {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-stats-with-bg .inner-container .boxes .box {
    gap: 4.83vw;
  }
}
.catalyx-stats-with-bg .inner-container .boxes .box img {
  width: 152px;
  height: 152px;
}
@media only screen and (max-width: 414px) {
  .catalyx-stats-with-bg .inner-container .boxes .box img {
    width: 36.7vw;
    height: 36.7vw;
  }
}
.catalyx-stats-with-bg .media {
  text-align: center;
}
.catalyx-stats-with-bg.is-style-alt .shadow {
  background: #F1EFF9;
}

/*# sourceMappingURL=style.css.map */
