@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-stats-with-bg {
  margin-bottom: 25px;
  @include screen(1280) {
    margin-bottom: 50px;
  }
  h3 {
    font-weight: 500;
    color: #8655FF;
    text-align: center;
  }
  p {
    font-weight: 400;
    color:#160F50;
    text-align: center;
  }
  .bold {
    font-weight: 600;
    letter-spacing: 0.68px;
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  position: relative;
  .shadow {
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
    height: 100%;
    background: rgba($color: #B7E539, $alpha: 0.1);
    border-radius: 25px 0 0 25px;
    z-index: 1;
    @include screen (0, 1920) {
      width: 1728px;
    }
    @include screen (0, 1728) {
      width: 100%;
      border-radius: 0;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 726px;
      height: 369px;
      z-index: 2;
      @include screen (0, 1024) {
        width: 70.9vw;
        height: 36vw;
      }
    }
  }
  .inner-container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 75px 0;
    gap: 50px;
    z-index: 3;
    @include screen (0, 1150) {
      margin: 0 20px;
    }
    @include screen (0, 1024) {
      padding: 9.375vw 0;
      gap: 8.2vw;
    }
    @include screen (0, 414) {
      margin: 0 4.83vw;
    }
    .headline {
      z-index: 3;
    }
    .boxes {
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      z-index: 3;
      @include screen (0, 764) {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
      }
      @include screen (0, 414) {
        row-gap: 4.83vw;
      }
      .box {
        width: 300px;
        padding: 0 38px;
        gap: 10px;
        @include screen (0, 1024) {
          padding: 0;
          gap: 20px;
        }
        @include screen (0, 640) {
          width: 100%;
        }
        @include screen (0, 414) {
          gap: 4.83vw;
        }
        img {
          width: 152px;
          height: 152px;
          @include screen (0, 414) {
            width: 36.7vw;
            height: 36.7vw;
          }
        }
      }
    }
  }
  .media {
    text-align: center;
  }
  &.is-style-alt {
    .shadow {
      background:#F1EFF9;
    }
  }
}
