{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="shadow">
      <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shape.url}}" alt="shadow">
    </div>
    <div class="inner-container dsp-c-c">
      <div class="headline dsp-c-c">
        <InnerBlocks />
      </div>
      <div class="boxes dsp-c-r">
        <div class="box dsp-c-c">
          <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.icon01.url}}" alt="550+">
          <p class="bold">
            {{fields.content.textbox01}}
          </p>
        </div>
        <div class="box dsp-c-c">
          <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.icon02.url}}" alt="30+">
          <p class="bold">
            {{fields.content.textbox02}}
          </p>
        </div>
        <div class="box dsp-c-c">
          <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.icon03.url}}" alt="9">
          <p class="bold">
            {{fields.content.textbox03}}
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

