@use "mixins" as *;


// .theme-button {
//     margin-top: 25px;
//     &.is-style-dark {
//         .btn {
//             background:rgba(0, 47, 61, 1);
//             border:1px solid rgba(0, 47, 61, 1);
//             &:hover {
//                 border:1px solid rgba(53, 113, 128, 1);
//                 background:rgba(17, 115, 130, 1);
//             }
//         }
//     }
//     &.is-style-simple {
//         .btn {
//             background: transparent;
//             color: rgba(211, 121, 29, 1);
//             border: none;
//             padding: 0;
//             padding-right: 30px;
//             text-align: left;
//             min-width: unset;
//             span {
//                 position:relative;
//                 font-size: 12px;
//                 @include screen(1280) {
//                     font-size: 16px;
//                 }
//                 &:after {
//                     transition: all 0.3s ease-out;
//                     content: "\e902";
//                     font-family: "icomoon";
//                     color:rgba(211, 121, 29, 1);
//                     font-weight: 600;
//                     margin-left: 7px;
//                     top: 2px;
//                     right: -20px;
//                     position: absolute;
//                     font-size: 11px;
//                     @include screen(1280) {
//                         font-size: 14px;
//                     }
//                 }
//             }
//             &:hover {
//                 border: none;
//                 background: transparent;
//                 box-shadow: none;
//                 span {
//                     &:after {
//                         right: -30px;
//                     }
//                 }
//             }
//         }
//     }
// }

// .btn {
//     display: block;
//     text-align: center;
//     cursor: pointer;
//     text-decoration: none;
//     transition: all .3s ease-out;
//     background: #B45B00;
//     color: #fff;
//     text-transform: uppercase;
//     padding: 15px 25px;
//     font-size: 14px;
//     font-weight: 500;
//     position: relative;
//     min-width: 180px;
//     border-radius: 0;
//     overflow: hidden;
//     width: fit-content;
//     border:1px solid #B45B00;
//     box-shadow: 1px 3px 5px rgba(0, 0, 0, 0);
//     border-radius: 5px;
//     line-height: 1;
//     @include screen(1280) {
//         font-size: 16px;
//         padding: 15px 40px;
//     }
//     span {
//         position: relative;
//     }
//     &:hover {
//         box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.26);
//         background:#D3791D;
//     }
// }
