@use "mixins" as *;

body {
    margin:0;
}

.container {
    margin: 0 auto;
    width: auto;
    max-width: 960px;
    &.is-style-fluid {
        max-width: none!important;
        padding-left: 32px;
        padding-right: 32px;
        width: 100%;
    }
    &-xl,
    &-sm {
        margin: 0 auto;
        width: auto;
    }
}

.container {
    @include screen(1024) {
        max-width: 90vw;
    }
    @include screen(1366) {
        max-width: 1280px;
    }
    @include screen(1536) {
        max-width: 1366px;
    }
    &-sm {
        @include screen(1024) {
            max-width: 65vw;
        }
    }
    &-xl {
        @include screen(1024) {
            max-width: 960px;
        }
        @include screen(1280) {
            max-width: 1200px;
        }
        @include screen(1366) {
            max-width: 1366px;
        }
    }
}


.size-full {
    width: 100%;
}

.aligncenter {
    text-align: center;
}

.preview {
    width: 100%;
    max-width: 100%;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.hide {
    &-mobile {
        @include screen(0,1279) {
            display:none !important;
        }
    }
    &-desktop {
        @include screen(1280) {
            display:none !important;
        }
    }
}

.wp-site-blocks {
    overflow: hidden;
}

// Header fix
// section[data-block*='hero'] {
//     @include screen(1280) {
//         padding-top: 127px;
//     }
// }

.wp-block-group.has-background {
    padding: 1.25em 2.375em;
}

.wp-block-quote {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 68px 0px;
    padding: 45px 25px;
    text-align: center;
    margin: 25px 0;
    @include screen(1280) {
        margin: 35px 0;
        padding: 50px 60px;
    }
    @include screen(1536) {
        padding: 60px 70px;
    }
    p {
        font-size: 14px;
        line-height: 20px;
        color:rgba(14, 38, 49, 1);
        font-weight: 500;
        @include screen(768) {
            font-size: 18px;
            line-height: 24px;
        }
        @include screen(1024) {
            font-size: 20px;
            line-height: 26px;
        }
        @include screen(1280) {
            font-size: 22px;
            line-height: 28px;
        }
        @include screen(1536) {
            font-size: 26px;
            line-height: 32px;
        }
    }
    cite {
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        color:rgba(102, 102, 102, 1);
        font-style: normal;
        @include screen(768) {
            font-size: 14px;
            line-height: 22px;
        }
        @include screen(1024) {
            font-size: 16px;
            line-height: 24px;
        }
        @include screen(1280) {
            font-size: 18px;
            line-height: 26px;
        }
        @include screen(1536) {
            font-size: 20px;
            line-height: 28px;
        }
    }
}

.wp-block-image {
    margin:25px 0;
    @include screen(1280) {
        margin:50px 0;
    }
}