@use "mixins" as *;

@import "/home/web/www/html/wp-content/themes/catalyx/node_modules/rfs/scss.scss";


@font-face {
  font-family: "icomoon";
  src: url('/wp-content/themes/catalyx/assets/fonts/icomoon.ttf') format("truetype"),
      url('/wp-content/themes/catalyx/assets/fonts/icomoon.woff') format("woff"),
      url('/wp-content/themes/catalyx/assets/fonts/icomoon.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* bricolage-grotesque-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/catalyx/assets/fonts/bricolage-grotesque-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 500;
  src: url('/wp-content/themes/catalyx/assets/fonts/bricolage-grotesque-v1-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 600;
  src: url('/wp-content/themes/catalyx/assets/fonts/bricolage-grotesque-v1-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/catalyx/assets/fonts/plus-jakarta-sans-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/wp-content/themes/catalyx/assets/fonts/plus-jakarta-sans-v8-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Plus Jakarta Sans';
  @include screen(1280) {
    font-size: 20px;
    line-height: 30px;
  }
}

p {
  margin: 0.7em 0;
  line-height: 1.5;
}

@include headings() {
  margin: 0.4em 0;
  line-height: 1.14;
  font-weight: 500;
  color:rgba(0, 47, 61, 1);
  font-family: 'Bricolage Grotesque', sans-serif;
  strong {
    font-weight: 600 !important;
  }
}

h {
  &1 {
    @include font-size(3.25rem);
  }
  &2 {
    @include font-size(2.5rem);
  }
  &3 {
    @include font-size(2rem);
  }
  &4 {
    @include font-size(1.75rem);
  }
  &5 {
    @include font-size(1.5rem);
  }
  &6 {
    @include font-size(1.25rem);
  }
}

strong {
  font-weight: 500;
}

.has-text-align-center {
  text-align: center;
}

ul {
  list-style: none;
  margin: 1em 0;
  padding-left: 30px;
  @include screen(1280) {
    padding-left: 40px;
  }
  li {
      color:#160F50;
      font-size:14px;
      line-height: 16px;
      position:relative;
      @include screen(1280) {
          font-size:20px;
          line-height: 30px;
      }
      &:before {
          font-family: "icomoon";
          content: "\e902";
          color:#B7E539;
          position: absolute;
          left: -30px;
          top: 3px;
          @include screen(1280) {
            top: 2px;
            left: -40px;
          }
      }
  }
  li + li {
      margin-top:6px;
      @include screen(1280) {
          margin-top:10px;
      }
  }
}

ol {
  list-style:decimal;
  margin: 1em 0;
  padding-left: 20px;
  @include screen(1280) {
    padding-left: 25px;
  }
  li {
      color:#666666;
      font-size:14px;
      line-height: 16px;
      position:relative;
      @include screen(1280) {
          font-size:20px;
          line-height: 30px;
      }
  }
  li + li {
      margin-top:7px;
      @include screen(1280) {
          margin-top:10px;
      }
  }
}