* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-block-seven-one h3 {
  font-size: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
  color: #8655FF;
}
@media only screen and (min-width: 1280px) {
  .catalyx-block-seven-one h3 {
    font-size: 24px;
  }
}
.catalyx-block-seven-one h5 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  color: #160F50;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-seven-one h5 {
    font-size: 5.8vw;
    line-height: 7.25vw;
  }
}
.catalyx-block-seven-one p {
  font-weight: 400;
  color: #160F50;
}
.catalyx-block-seven-one .bold {
  font-weight: 600;
}
.catalyx-block-seven-one .dsp-c-c,
.catalyx-block-seven-one .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-block-seven-one .dsp-c-c {
  flex-direction: column;
}
.catalyx-block-seven-one .container {
  max-width: 1316px;
  margin-left: 277px;
  padding: 96px 0;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 1593px) {
  .catalyx-block-seven-one .container {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1356px) {
  .catalyx-block-seven-one .container {
    margin: 0 20px;
    gap: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-seven-one .container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-seven-one .container {
    padding: 12.56vw 0;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-seven-one .container {
    gap: 4.83vw;
    margin: 0 4.83vw;
  }
}
.catalyx-block-seven-one .container .left {
  width: 452px;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-seven-one .container .left {
    width: 80%;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-seven-one .container .left {
    width: 100%;
  }
}
.catalyx-block-seven-one .container .left img {
  width: 100%;
}
.catalyx-block-seven-one .container .right {
  width: 794px;
  align-items: flex-start;
  gap: 20px;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-seven-one .container .right {
    width: 80%;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-seven-one .container .right {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-seven-one .container .right {
    gap: 4.83vw;
  }
}
.catalyx-block-seven-one .container .right .container_inner {
  width: 100%;
  background: #F1EFF9;
  padding: 28px 10px 39px 40px;
  align-items: flex-start;
  gap: 20px;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-seven-one .container .right .container_inner {
    padding: 6.76vw 2.42vw 9.42vw 9.66vw;
    gap: 4.83vw;
  }
}
.catalyx-block-seven-one .container .right .container_inner .boxes {
  width: 100%;
  align-items: flex-start;
  gap: 10px;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-seven-one .container .right .container_inner .boxes {
    gap: 2.42vw;
  }
}
.catalyx-block-seven-one .container .right .container_inner .boxes .box {
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-seven-one .container .right .container_inner .boxes .box {
    gap: 3.86vw;
  }
  .catalyx-block-seven-one .container .right .container_inner .boxes .box img {
    width: 6.28vw;
    height: 4.59vw;
  }
}

/*# sourceMappingURL=style.css.map */
