{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="container dsp-c-r">
      <div class="left">
        <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.left_image.url}}" alt="left_image">
      </div>
      <div class="right dsp-c-c">
        <InnerBlocks />
      </div>
    </div>
  </section>
{% endblock %}
