* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-block-five {
  background: #160F50;
}
.catalyx-block-five h3 {
  font-weight: 600;
  color: white;
}
.catalyx-block-five h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: white;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-five h4 {
    font-size: 5.8vw;
    line-height: 7.73vw;
  }
}
.catalyx-block-five .dsp-c-c,
.catalyx-block-five .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-block-five .dsp-c-c {
  flex-direction: column;
}
.catalyx-block-five .inner-container {
  background: #160F50;
  max-width: 1728px;
  margin-left: auto;
  position: relative;
}
.catalyx-block-five .inner-container .shape_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 445px;
  height: 533px;
}
.catalyx-block-five .inner-container .shape_left img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-five .inner-container .shape_left {
    display: none;
  }
}
.catalyx-block-five .inner-container .container_inner {
  max-width: 1006px;
  height: 100%;
  position: relative;
  align-items: flex-start;
  padding-left: 85px;
  height: 533px;
  margin-left: 445px;
  background: #8655FF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-five .inner-container .container_inner {
    margin-left: 0;
    padding-left: 0;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-five .inner-container .container_inner {
    height: 128.74vw;
  }
}
.catalyx-block-five .inner-container .container_inner .shape_right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 685px;
  height: 334px;
  z-index: 1;
}
@media only screen and (max-width: 764px) {
  .catalyx-block-five .inner-container .container_inner .shape_right {
    width: 89.66vw;
    height: 43.71vw;
  }
}
.catalyx-block-five .inner-container .container_inner .shape_right img {
  width: 100%;
  height: 100%;
}
.catalyx-block-five .inner-container .container_inner .content {
  align-items: flex-start;
  gap: 18px;
  z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-five .inner-container .container_inner .content {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-five .inner-container .container_inner .content {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-five .inner-container .container_inner .content {
    margin: 0 4.83vw;
    gap: 4.34vw;
  }
}
.catalyx-block-five .inner-container .container_inner .content h4 {
  margin-bottom: 12px;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-five .inner-container .container_inner .content h4 {
    margin-bottom: 2.9vw;
  }
}

/*# sourceMappingURL=style.css.map */
