@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-block-five {
  h3 {
    font-weight: 600;
    color: white;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: white;
    @include screen (0, 414) {
      font-size: 5.8vw;
      line-height: 7.73vw;
    }
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  background:#160F50;
  .inner-container {
    background: #160F50;
    max-width: 1728px;
    margin-left: auto;
    position: relative;
    .shape_left {
      position: absolute;
      top: 0;
      left: 0;
      width: 445px;
      height: 533px;
      img {
        width: 100%;
        height: 100%;
      }
      @include screen (0, 1024) {
        display: none;
      }
    }
    .container_inner {
      max-width: 1006px;
      height: 100%;
      position: relative;
      align-items: flex-start;
      padding-left: 85px;
      height: 533px;
      margin-left: 445px;
      background: #8655FF;
      box-shadow: 0px 3px 6px #00000029;
      @include screen (0, 1024) {
        margin-left: 0;
        padding-left: 0;
      }
      @include screen (0, 414) {
        height: 128.74vw;
      }
      .shape_right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 685px;
        height: 334px;
        z-index: 1;
        @include screen (0, 764) {
          width: 89.66vw;
          height: 43.71vw;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .content {
        align-items: flex-start;
        gap: 18px;
        z-index: 2;
        @include screen (0, 1024) {
          margin: 0 auto;
        }
        @include screen (0, 764) {
          margin: 0 20px;
        }
        @include screen (0, 414) {
          margin: 0 4.83vw;
          gap: 4.34vw;
        }
        h4 {
          margin-bottom: 12px;
          @include screen (0, 414) {
            margin-bottom: 2.9vw;
          }
        }
    
      }
    }
  }
}
