{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="inner-container">
      <div class="shape_left">
        <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shape_left.url}}" alt="shape_left">
      </div>
      <div class="container_inner dsp-c-c">
        <div class="shape_right">
          <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shape_right.url}}" alt="shape_right">
        </div>
        <div class="content dsp-c-c">
          <InnerBlocks />
        </div>        
      </div>
    </div>
  </section>
{% endblock %}
