.image-text {
  margin: 25px 0;
}
@media only screen and (min-width: 1024px) {
  .image-text {
    margin: 0;
    padding: 35px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text {
    padding: 75px 0;
  }
}
.image-text .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .image-text .wrapper {
    flex-direction: row;
  }
}
.image-text .flex {
  position: relative;
  flex: 0 0 800px;
  margin-bottom: 15px;
  padding: 0 40px;
}
@media only screen and (min-width: 1024px) {
  .image-text .flex {
    padding: 0;
    margin-bottom: 0px;
  }
}
.image-text .flex p {
  font-size: 14px;
  line-height: 20px;
}
@media only screen and (min-width: 1024px) {
  .image-text .flex p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text .flex p {
    font-size: 20px;
    line-height: 32px;
  }
}
.image-text .media {
  text-align: center;
  padding: 0 36px;
  flex: 0 0 48.5%;
  max-width: 650px;
  position: relative;
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  .image-text .media {
    margin: 50px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .image-text .media {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text .media {
    max-width: 610px;
  }
}
.image-text .wp-block-image {
  margin-bottom: 30px;
}
.image-text img {
  max-width: 100%;
  height: auto;
}
.image-text.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .image-text.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}

/*# sourceMappingURL=style.css.map */
