@import "mixins.scss";

.image-text {
    margin: 25px 0;
    @include screen(1024) {
        margin: 0;
        padding: 35px 0;
    }
    @include screen(1280) {
        padding: 75px 0;
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include screen(1024) {
            flex-direction: row;
        }
    }
    .flex {
        position:relative;
        flex:0 0 800px;
        margin-bottom: 15px;
        padding: 0 40px;
        @include screen(1024) {
            padding: 0;
            margin-bottom: 0px;
        }
        p {
            font-size: 14px;
            line-height: 20px;
            @include screen(1024) {
                font-size: 18px;
                line-height: 28px;
            }
            @include screen(1280) {
                font-size: 20px;
                line-height: 32px;
            }
    
        }
    }
    .media {
        text-align: center;
        padding: 0 36px;
        flex:0 0 48.5%;
        max-width: 650px;
        position: relative;
        margin: 25px 0;
        @include screen(768) {
            margin: 50px 0;
        }
        @include screen(1024) {
            padding:0;
            margin:0;
        }
        @include screen(1280) {
            max-width: 610px;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    &.is-style-reverse {
        .wrapper {
            flex-direction: column;
            @include screen(1024) {
                flex-direction: row-reverse;
            }
        }
    }
}