@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-block-three {
  .headline {
    h4 {
      font-weight: 500;
      color: #8655FF;
      text-align: center;
    }
  }
  .boxes {
    h4 {
      font-weight: 600;
      color: #160F50;
      text-align: center;
      font-size: 20px;
      @include screen (0, 414) {
        font-size: 24px;
      }
    }
  }
  a {
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
    @include screen (0, 414) {
      font-size: 3.86vw;
      line-height: 4.83vw;
    }
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .container {
    max-width: 1110px;
    margin:0 auto;
    padding: 96px 0;
    @include screen (0, 1150) {
      margin: 0 20px;
    }
    @include screen (0, 764) {
      padding: 0 12.56vw;
    }
    @include screen (0, 414) {
      margin: 0 4.83vw;
    }
    .headline {
      max-width: 944px;
      margin-bottom: 63px;
      @include screen (0, 764) {
        margin-bottom: 8.24vw;
      }
    }
    .boxes {
      width: 100%;
      align-items: flex-start;
      flex-wrap: wrap;
      row-gap: 52px;
      column-gap: 105px;
      margin-bottom: 50px;
      @include screen (0, 764) {
        row-gap: 6.8vw;
        column-gap: 13.74vw;
        margin-bottom: 11vw;
      }
      .box {
        width: 300px;
        gap: 10px;
        @include screen (0, 764) {
          width: 100%;
          gap: 1.3vw;
        }
        img {
          width: 152px;
          height: 152px;
          @include screen (0, 414) {
            width: 36.71vw;
            height: 36.71vw;
          }
        }
      }
    }
    .button {
      width: 285px;
      height: 60px;
      border: 3px solid #B7E539;
      background: linear-gradient(90deg,#8655FF var(--x, 10%), #432B80 var(--z, 40%),#8655FF 100%) var(--y, 0)/ 200%;
      transition: all 0.3s ease-out;
      cursor: pointer;
      @include screen (0, 414) {
        width: 68.84vw;
        height: 14.5vw;
      }
      &:hover {
        --x:0;
        --y:100%;
        --z:50%;
      }
    }
  }
}
