* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-block-three .headline h4 {
  font-weight: 500;
  color: #8655FF;
  text-align: center;
}
.catalyx-block-three .boxes h4 {
  font-weight: 600;
  color: #160F50;
  text-align: center;
  font-size: 20px;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-three .boxes h4 {
    font-size: 24px;
  }
}
.catalyx-block-three a {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-three a {
    font-size: 3.86vw;
    line-height: 4.83vw;
  }
}
.catalyx-block-three .dsp-c-c,
.catalyx-block-three .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-block-three .dsp-c-c {
  flex-direction: column;
}
.catalyx-block-three .container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 96px 0;
}
@media only screen and (max-width: 1150px) {
  .catalyx-block-three .container {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-three .container {
    padding: 0 12.56vw;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-three .container {
    margin: 0 4.83vw;
  }
}
.catalyx-block-three .container .headline {
  max-width: 944px;
  margin-bottom: 63px;
}
@media only screen and (max-width: 764px) {
  .catalyx-block-three .container .headline {
    margin-bottom: 8.24vw;
  }
}
.catalyx-block-three .container .boxes {
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 52px;
  column-gap: 105px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 764px) {
  .catalyx-block-three .container .boxes {
    row-gap: 6.8vw;
    column-gap: 13.74vw;
    margin-bottom: 11vw;
  }
}
.catalyx-block-three .container .boxes .box {
  width: 300px;
  gap: 10px;
}
@media only screen and (max-width: 764px) {
  .catalyx-block-three .container .boxes .box {
    width: 100%;
    gap: 1.3vw;
  }
}
.catalyx-block-three .container .boxes .box img {
  width: 152px;
  height: 152px;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-three .container .boxes .box img {
    width: 36.71vw;
    height: 36.71vw;
  }
}
.catalyx-block-three .container .button {
  width: 285px;
  height: 60px;
  border: 3px solid #B7E539;
  background: linear-gradient(90deg, #8655FF var(--x, 10%), #432B80 var(--z, 40%), #8655FF 100%) var(--y, 0)/200%;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-three .container .button {
    width: 68.84vw;
    height: 14.5vw;
  }
}
.catalyx-block-three .container .button:hover {
  --x:0;
  --y:100%;
  --z:50%;
}

/*# sourceMappingURL=style.css.map */
