{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="container dsp-c-c">
      <div class="headline">
        <h4>
          {{fields.content.headline}}
        </h4>
      </div>
      <div class="boxes dsp-c-r">
        <div class="box dsp-c-c">
          <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.icon01.url}}" alt="icon01">
          <h4>
            {{fields.content.quote01}}
          </h4>
        </div>
        <div class="box dsp-c-c">
          <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.icon02.url}}" alt="icon02">
          <h4>
            {{fields.content.quote02}}
          </h4>
        </div>
        <div class="box dsp-c-c">
          <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.icon03.url}}" alt="icon03">
          <h4>
            {{fields.content.quote03}}
          </h4>
        </div>
        <div class="box dsp-c-c">
          <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.icon04.url}}" alt="icon04">
          <h4>
            {{fields.content.quote04}}
          </h4>
        </div>
        <div class="box dsp-c-c">
          <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.icon05.url}}" alt="icon05">
          <h4>
            {{fields.content.quote05}}
          </h4>
        </div>
        <div class="box dsp-c-c">
          <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.icon06.url}}" alt="icon06">
          <h4>
            {{fields.content.quote06}}
          </h4>
        </div>
      </div>
      <div class="theme-button ">
        <a class="btn" href="{{fields.content.link.url}}" target="">
            <span>{{fields.content.link.title}}</span>
        </a>
    </div>
    </div>
  </section>
{% endblock %}
