@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-block-six {
  box-shadow: 0 3px 6px #00000029;
  h5 {
    font-size: 1rem;
    line-height: 1.1875rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    color: #160F50;
    @include screen (0, 414) {
      font-size: 3.86vw;
      line-height: 4.59vw;
    }
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width:  1200px;
    margin: 0 auto;
    padding: 25px 0;
    @include screen (0, 1240) {
      margin: 0 20px;
    }
    @include screen (0, 414) {
      margin: 0 4.83vw;
      padding: 6vw 0;
    }
    .boxes {
      gap: 20px;
      @include screen (0, 414) {
        gap: 4.83vw;
      }
      .boxes_first_row,
      .boxes_second_row {
        flex-wrap: wrap;
        width: 100%;
        @include screen (0, 1240) {
          row-gap: 20px;
        }
        @include screen (0, 764) {
          flex-direction: column;
        }
        @include screen (0, 414) {
          row-gap: 4.83vw;
        }
        .box {
          width: 298px;
          height: 50px;
          @include screen (0, 1240) {
            width: 50%;
            border-bottom: 0.25px solid #8655FF;
          }
          @include screen (0, 764) {
            width: 100%;
          }
          @include screen (0, 414) {
            height: 12vw;
          }
          a {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding:5px 22px 5px 31px;
            border-left: 0.25px solid #8655FF;
            @include screen (0, 414) {
              padding: 1.2vw 5.31vw 1.2vw 8.9vw;
              img {
                width: 1.93vw;
                height: 3.38vw;
              }
            }
  
          }
        }
        .first {
          a {
            border-left: none !important;
            @include screen (0, 1240) {
              border-left: 0.25px solid #8655FF !important;
            }
          }
        }
      }
      .boxes_first_row {
        padding-bottom: 22px;
        border-bottom: 0.25px solid #8655FF;
        @include screen (0, 1240) {
          border-bottom: none;
        }
      }
    }
  }
}
