* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-block-six {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.catalyx-block-six h5 {
  font-size: 1rem;
  line-height: 1.1875rem;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  color: #160F50;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-six h5 {
    font-size: 3.86vw;
    line-height: 4.59vw;
  }
}
.catalyx-block-six a {
  text-decoration: none;
  cursor: pointer;
}
.catalyx-block-six .dsp-c-c,
.catalyx-block-six .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-block-six .dsp-c-c {
  flex-direction: column;
}
.catalyx-block-six .inner-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 0;
}
@media only screen and (max-width: 1240px) {
  .catalyx-block-six .inner-container {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-six .inner-container {
    margin: 0 4.83vw;
    padding: 6vw 0;
  }
}
.catalyx-block-six .inner-container .boxes {
  gap: 20px;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-six .inner-container .boxes {
    gap: 4.83vw;
  }
}
.catalyx-block-six .inner-container .boxes .boxes_first_row,
.catalyx-block-six .inner-container .boxes .boxes_second_row {
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (max-width: 1240px) {
  .catalyx-block-six .inner-container .boxes .boxes_first_row,
  .catalyx-block-six .inner-container .boxes .boxes_second_row {
    row-gap: 20px;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-six .inner-container .boxes .boxes_first_row,
  .catalyx-block-six .inner-container .boxes .boxes_second_row {
    flex-direction: column;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-six .inner-container .boxes .boxes_first_row,
  .catalyx-block-six .inner-container .boxes .boxes_second_row {
    row-gap: 4.83vw;
  }
}
.catalyx-block-six .inner-container .boxes .boxes_first_row .box,
.catalyx-block-six .inner-container .boxes .boxes_second_row .box {
  width: 298px;
  height: 50px;
}
@media only screen and (max-width: 1240px) {
  .catalyx-block-six .inner-container .boxes .boxes_first_row .box,
  .catalyx-block-six .inner-container .boxes .boxes_second_row .box {
    width: 50%;
    border-bottom: 0.25px solid #8655FF;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-six .inner-container .boxes .boxes_first_row .box,
  .catalyx-block-six .inner-container .boxes .boxes_second_row .box {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-six .inner-container .boxes .boxes_first_row .box,
  .catalyx-block-six .inner-container .boxes .boxes_second_row .box {
    height: 12vw;
  }
}
.catalyx-block-six .inner-container .boxes .boxes_first_row .box a,
.catalyx-block-six .inner-container .boxes .boxes_second_row .box a {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px 22px 5px 31px;
  border-left: 0.25px solid #8655FF;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-six .inner-container .boxes .boxes_first_row .box a,
  .catalyx-block-six .inner-container .boxes .boxes_second_row .box a {
    padding: 1.2vw 5.31vw 1.2vw 8.9vw;
  }
  .catalyx-block-six .inner-container .boxes .boxes_first_row .box a img,
  .catalyx-block-six .inner-container .boxes .boxes_second_row .box a img {
    width: 1.93vw;
    height: 3.38vw;
  }
}
.catalyx-block-six .inner-container .boxes .boxes_first_row .first a,
.catalyx-block-six .inner-container .boxes .boxes_second_row .first a {
  border-left: none !important;
}
@media only screen and (max-width: 1240px) {
  .catalyx-block-six .inner-container .boxes .boxes_first_row .first a,
  .catalyx-block-six .inner-container .boxes .boxes_second_row .first a {
    border-left: 0.25px solid #8655FF !important;
  }
}
.catalyx-block-six .inner-container .boxes .boxes_first_row {
  padding-bottom: 22px;
  border-bottom: 0.25px solid #8655FF;
}
@media only screen and (max-width: 1240px) {
  .catalyx-block-six .inner-container .boxes .boxes_first_row {
    border-bottom: none;
  }
}

/*# sourceMappingURL=style.css.map */
