{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="inner-container">
      <div class="boxes dsp-c-c">
        <div class="boxes_first_row dsp-c-r">
        {% for box in fields.boxes %}
        {% endfor %}
          <div class="box first">
            <a href="{{fields.content.boxlink01.url}}">
              <h5>
                {{fields.content.boxlink01.title}}
              </h5>
              <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.arrow.url}}" alt="Arrow-dropdown">  
            </a>
          </div>
          <div class="box">
            <a href="{{fields.content.boxlink02.url}}">
              <h5>
                {{fields.content.boxlink02.title}}
              </h5>
              <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.arrow.url}}" alt="Arrow-dropdown">  
            </a>
          </div>
          <div class="box">
            <a href="{{fields.content.boxlink03.url}}">
              <h5>
                {{fields.content.boxlink03.title}}
              </h5>
              <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.arrow.url}}" alt="Arrow-dropdown">  
            </a>
          </div>
          <div class="box">
            <a href="{{fields.content.boxlink04.url}}">
              <h5>
                {{fields.content.boxlink04.title}}
              </h5>
              <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.arrow.url}}" alt="Arrow-dropdown">  
            </a>
          </div>
        </div>
        <div class="boxes_second_row dsp-c-r">
          <div class="box first">
            <a href="{{fields.content.boxlink05.url}}">
              <h5>
                {{fields.content.boxlink05.title}}
              </h5>
              <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.arrow.url}}" alt="Arrow-dropdown">  
            </a>
          </div>
          <div class="box">
            <a href="{{fields.content.boxlink06.url}}">
              <h5>
                {{fields.content.boxlink06.title}}
              </h5>
              <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.arrow.url}}" alt="Arrow-dropdown">  
            </a>
          </div>
          <div class="box">
            <a href="{{fields.content.boxlink07.url}}">
              <h5>
                {{fields.content.boxlink07.title}}
              </h5>
              <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.arrow.url}}" alt="Arrow-dropdown">  
            </a>
          </div>
          <div class="box">
            <a href="{{fields.content.boxlink08.url}}">
              <h5>
                {{fields.content.boxlink08.title}}
              </h5>
              <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.arrow.url}}" alt="Arrow-dropdown">  
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
