@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-stats-with-bg-two {
  h3 {
    font-weight: 500;
    color: white;
    text-align: center;
  }
  h4 {
    font-size: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    color:white;
    text-align: center;
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  a {
    text-decoration: none;
  }
  .x {
    border-left: none !important;
    @include screen (0, 940) {
      border-left: 0.25px solid #251968 !important;
    }
  }
  .y {
    border: none !important;
    @include screen (0, 940) {
      border-bottom: 0.25px solid #251968 !important;
    }

  }
  position: relative;
  .shadow {
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
    height: 100%;
    background: #160F50;
    border-radius: 25px 0 0 25px;
    z-index: 1;
    @include screen (0, 1920) {
      width: 1728px;
    }
    @include screen (0, 1728) {
      width: 100%;
      border-radius: 0;
    }
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 776px;
      height: 369px;
      z-index: 2;
      @include screen (0, 1024) {
        width: 75.78vw;
        height: 36vw;
      }
    }
  }
  .inner-container {
    max-width: 1110px;
    margin: 0 auto;
    z-index: 3;
    padding: 75px 0;
    gap: 35px;
    @include screen (0, 1150) {
      margin: 0 20px;
    }
    @include screen (0, 1024) {
      gap: 5.56vw;
      padding: 9.375vw 0;
    }
    @include screen (0, 414) {
      margin: 0 4.83vw;
    }
    .headline {
      z-index: 3;
      h3 {
        max-width: 920px;
      }
    }
    .boxes {
      flex-wrap: wrap;
      @include screen (0, 640) {
        gap: 3.125vw;
      }
      .box {
        width: 300px;
        height: 250px;
        border-bottom: 0.25px solid #251968;
        z-index: 3;
        padding: 20px;
        align-items: flex-start;
        @include screen (0, 640) {
          height: auto;
          width: 100%;
          padding: 0;
          gap: 3.125vw;
        }
        a {
          width: 100%;
          height: 100%;
          justify-content: flex-start;
          border-left: 0.25px solid #251968;
          gap: 10px;
          @include screen (0, 640) {
            border: none !important;
            gap: 1.56vw;
          }      
          img {
            width: 152px;
            height: 152px;
            @include screen (0, 414) {
              width: 36.71vw;
              height: 36.71vw;
            }
          }
        }
      }
    }
  }
}
