* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-stats-with-bg-two {
  position: relative;
}
.catalyx-stats-with-bg-two h3 {
  font-weight: 500;
  color: white;
  text-align: center;
}
.catalyx-stats-with-bg-two h4 {
  font-size: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
}
.catalyx-stats-with-bg-two .dsp-c-c,
.catalyx-stats-with-bg-two .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-stats-with-bg-two .dsp-c-c {
  flex-direction: column;
}
.catalyx-stats-with-bg-two a {
  text-decoration: none;
}
.catalyx-stats-with-bg-two .x {
  border-left: none !important;
}
@media only screen and (max-width: 940px) {
  .catalyx-stats-with-bg-two .x {
    border-left: 0.25px solid #251968 !important;
  }
}
.catalyx-stats-with-bg-two .y {
  border: none !important;
}
@media only screen and (max-width: 940px) {
  .catalyx-stats-with-bg-two .y {
    border-bottom: 0.25px solid #251968 !important;
  }
}
.catalyx-stats-with-bg-two .shadow {
  position: absolute;
  right: 0;
  top: 0;
  width: 90%;
  height: 100%;
  background: #160F50;
  border-radius: 25px 0 0 25px;
  z-index: 1;
}
@media only screen and (max-width: 1920px) {
  .catalyx-stats-with-bg-two .shadow {
    width: 1728px;
  }
}
@media only screen and (max-width: 1728px) {
  .catalyx-stats-with-bg-two .shadow {
    width: 100%;
    border-radius: 0;
  }
}
.catalyx-stats-with-bg-two .shadow img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 776px;
  height: 369px;
  z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .catalyx-stats-with-bg-two .shadow img {
    width: 75.78vw;
    height: 36vw;
  }
}
.catalyx-stats-with-bg-two .inner-container {
  max-width: 1110px;
  margin: 0 auto;
  z-index: 3;
  padding: 75px 0;
  gap: 35px;
}
@media only screen and (max-width: 1150px) {
  .catalyx-stats-with-bg-two .inner-container {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .catalyx-stats-with-bg-two .inner-container {
    gap: 5.56vw;
    padding: 9.375vw 0;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-stats-with-bg-two .inner-container {
    margin: 0 4.83vw;
  }
}
.catalyx-stats-with-bg-two .inner-container .headline {
  z-index: 3;
}
.catalyx-stats-with-bg-two .inner-container .headline h3 {
  max-width: 920px;
}
.catalyx-stats-with-bg-two .inner-container .boxes {
  flex-wrap: wrap;
}
@media only screen and (max-width: 640px) {
  .catalyx-stats-with-bg-two .inner-container .boxes {
    gap: 3.125vw;
  }
}
.catalyx-stats-with-bg-two .inner-container .boxes .box {
  width: 300px;
  height: 250px;
  border-bottom: 0.25px solid #251968;
  z-index: 3;
  padding: 20px;
  align-items: flex-start;
}
@media only screen and (max-width: 640px) {
  .catalyx-stats-with-bg-two .inner-container .boxes .box {
    height: auto;
    width: 100%;
    padding: 0;
    gap: 3.125vw;
  }
}
.catalyx-stats-with-bg-two .inner-container .boxes .box a {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  border-left: 0.25px solid #251968;
  gap: 10px;
}
@media only screen and (max-width: 640px) {
  .catalyx-stats-with-bg-two .inner-container .boxes .box a {
    border: none !important;
    gap: 1.56vw;
  }
}
.catalyx-stats-with-bg-two .inner-container .boxes .box a img {
  width: 152px;
  height: 152px;
}
@media only screen and (max-width: 414px) {
  .catalyx-stats-with-bg-two .inner-container .boxes .box a img {
    width: 36.71vw;
    height: 36.71vw;
  }
}

/*# sourceMappingURL=style.css.map */
