{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="shadow">
      <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shape.url}}" alt="">
    </div>
    <div class="inner-container dsp-c-c">
      <div class="headline">
        <h3>
          {{fields.content.headline}}
        </h3>
      </div>
      <div class="boxes dsp-c-r ">
        <div class="box dsp-c-r">
          <a href="#" class="dsp-c-c x">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.boxphoto01.url}}" alt="box1">
          <h4>
            {{fields.content.boxtext01}}
          </h4> 
          </a> 
        </div>
        <div class="box dsp-c-r">
          <a href="#" class="dsp-c-c">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.boxphoto02.url}}" alt="box2">
          <h4>
            {{fields.content.boxtext02}}
          </h4> 
          </a> 
        </div>
        <div class="box dsp-c-r">
          <a href="#" class="dsp-c-c">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.boxphoto03.url}}" alt="box3">
          <h4>
            {{fields.content.boxtext03}}
          </h4> 
          </a> 
        </div>
        <div class="box dsp-c-r y">
          <a href="#" class="dsp-c-c x">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.boxphoto04.url}}" alt="box4">
          <h4>
            {{fields.content.boxtext04}}
          </h4> 
          </a> 
        </div>
        <div class="box dsp-c-r y ">
          <a href="#" class="dsp-c-c">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.boxphoto05.url}}" alt="box5">
          <h4>
            {{fields.content.boxtext05}}
          </h4> 
          </a> 
        </div>
        <div class="box dsp-c-r y">
          <a href="#" class="dsp-c-c">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.boxphoto06.url}}" alt="box6">
          <h4>
            {{fields.content.boxtext06}}
          </h4> 
          </a> 
        </div>
      </div>
    </div>
  </section>
{% endblock %}
