@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-block-eight {
  margin: 25px;
  @include screen(1280) {
    margin: 50px;
  }
  h3 {
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
  }
  h4 {
    font-size: 20px;
    font-weight: 500;
    color: #160F50;
    transition: color 0.3s ease-out;
    margin:0;
    @include screen (1280) {
      font-size: 24px;
    }
  }
  .click {
    color: white;
  }
  .clicked {
    background: #160F50 !important;
  }
  .invisible {
    display: none;
  }
  .default {
    display: flex !important;
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width: 1728px;
    position: relative;
    background: #8655FF;
    border-radius: 0 25px 25px 0;
    overflow: hidden;
    @include screen (0, 1024) {
      border-radius: 0;
    }
    .shape {
      position: absolute;
      top: 0;
      right: 0;
      width: 527px;
      height: 767px;
      z-index: 2;
      @include screen (0, 1024) {
        width: 51.46vw;
        height: 74.9vw;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .container_inner {
      max-width: 1196px;
      margin-left: 362px;
      padding: 86px 0 98px 0;
      gap: 40px;
      @include screen (0, 1728) {
        margin: 0 auto;
      }
      @include screen (0, 1240) {
        margin: 0 20px;
      }
      @include screen (0, 764) {
        padding: 11.25vw 0 12.82vw 0;
      }
      @include screen (0, 414) {
        margin: 0 4.83vw;
        gap: 9.66vw;
      }
      .headline {
        z-index: 3;
      }
      .content {
        width: 100%;
        gap: 16px;
        @include screen (0, 1024) {
          flex-direction: column;
        }
        .fields {
          justify-content: space-between;
          height: 487px;
          width: 442px;
          z-index: 3;
          @include screen (0, 1024) {
            width: 80%;
            gap: 10px;
            height: auto;
          }
          @include screen (0, 764){
            width: 100%;
          }
          @include screen (0, 414) {
            gap: 2.41vw;
          }
          .field {
            width: 100%;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 5px;
            background: white;
            padding: 15px 30px;
            transition: background 0.3s ease-out;
            cursor: pointer;
            &:hover {
              h4 {
                color: #8655FF;
              }
            }
            @include screen (0, 414) {
              padding: 3.62vw 7.24vw;
              border-radius: 1.2vw;
            }
          }
          .clicked {
            h4 {
              color: white !important;
            }
          }
        }
        .photos {
          width: 738px;
          height: 487px;
          z-index: 3;
          @include screen (0, 1024) {
            width: 80%;
            height: auto;
          }
          @include screen (0, 764){
            width: 100%;
          }
          img {
            width: 100%;
            height: 100%;
          }
          .photo {
            display: none;
          }
        }
      }
    }
  }
}
