* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-block-eight {
  margin: 25px;
}
@media only screen and (min-width: 1280px) {
  .catalyx-block-eight {
    margin: 50px;
  }
}
.catalyx-block-eight h3 {
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
}
.catalyx-block-eight h4 {
  font-size: 20px;
  font-weight: 500;
  color: #160F50;
  transition: color 0.3s ease-out;
  margin: 0;
}
@media only screen and (min-width: 1280px) {
  .catalyx-block-eight h4 {
    font-size: 24px;
  }
}
.catalyx-block-eight .click {
  color: white;
}
.catalyx-block-eight .clicked {
  background: #160F50 !important;
}
.catalyx-block-eight .invisible {
  display: none;
}
.catalyx-block-eight .default {
  display: flex !important;
}
.catalyx-block-eight .dsp-c-c,
.catalyx-block-eight .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-block-eight .dsp-c-c {
  flex-direction: column;
}
.catalyx-block-eight .inner-container {
  max-width: 1728px;
  position: relative;
  background: #8655FF;
  border-radius: 0 25px 25px 0;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-eight .inner-container {
    border-radius: 0;
  }
}
.catalyx-block-eight .inner-container .shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 527px;
  height: 767px;
  z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-eight .inner-container .shape {
    width: 51.46vw;
    height: 74.9vw;
  }
}
.catalyx-block-eight .inner-container .shape img {
  width: 100%;
  height: 100%;
}
.catalyx-block-eight .inner-container .container_inner {
  max-width: 1196px;
  margin-left: 362px;
  padding: 86px 0 98px 0;
  gap: 40px;
}
@media only screen and (max-width: 1728px) {
  .catalyx-block-eight .inner-container .container_inner {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1240px) {
  .catalyx-block-eight .inner-container .container_inner {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-eight .inner-container .container_inner {
    padding: 11.25vw 0 12.82vw 0;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-eight .inner-container .container_inner {
    margin: 0 4.83vw;
    gap: 9.66vw;
  }
}
.catalyx-block-eight .inner-container .container_inner .headline {
  z-index: 3;
}
.catalyx-block-eight .inner-container .container_inner .content {
  width: 100%;
  gap: 16px;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-eight .inner-container .container_inner .content {
    flex-direction: column;
  }
}
.catalyx-block-eight .inner-container .container_inner .content .fields {
  justify-content: space-between;
  height: 487px;
  width: 442px;
  z-index: 3;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-eight .inner-container .container_inner .content .fields {
    width: 80%;
    gap: 10px;
    height: auto;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-eight .inner-container .container_inner .content .fields {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-eight .inner-container .container_inner .content .fields {
    gap: 2.41vw;
  }
}
.catalyx-block-eight .inner-container .container_inner .content .fields .field {
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 5px;
  background: white;
  padding: 15px 30px;
  transition: background 0.3s ease-out;
  cursor: pointer;
}
.catalyx-block-eight .inner-container .container_inner .content .fields .field:hover h4 {
  color: #8655FF;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-eight .inner-container .container_inner .content .fields .field {
    padding: 3.62vw 7.24vw;
    border-radius: 1.2vw;
  }
}
.catalyx-block-eight .inner-container .container_inner .content .fields .clicked h4 {
  color: white !important;
}
.catalyx-block-eight .inner-container .container_inner .content .photos {
  width: 738px;
  height: 487px;
  z-index: 3;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-eight .inner-container .container_inner .content .photos {
    width: 80%;
    height: auto;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-eight .inner-container .container_inner .content .photos {
    width: 100%;
  }
}
.catalyx-block-eight .inner-container .container_inner .content .photos img {
  width: 100%;
  height: 100%;
}
.catalyx-block-eight .inner-container .container_inner .content .photos .photo {
  display: none;
}

/*# sourceMappingURL=style.css.map */
