{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="inner-container">
      <div class="shape">
        <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shape.url}}" alt="shape">
      </div>
      <div class="container_inner dsp-c-c">
        <div class="headline">
          <h3>
            {{fields.content.headline}}
          </h3>
        </div>
        <div class="content dsp-c-r">
          <div class="fields dsp-c-c">
            <div class="field clicked">
              <h4 class="click">
                {{fields.content.title01}}
              </h4>
            </div>
            <div class="field">
              <h4>
               {{fields.content.title02}}
              </h4>
            </div>
            <div class="field">
              <h4>
                {{fields.content.title03}}
              </h4>
            </div>
            <div class="field">
              <h4>
                {{fields.content.title04}}
              </h4>
            </div>
            <div class="field">
              <h4>
                {{fields.content.title05}}
              </h4>
            </div>
            <div class="field">
              <h4>
                {{fields.content.title06}}
              </h4>
            </div>
            <div class="field">
              <h4>
                {{fields.content.title07}}
              </h4>
            </div>
          </div>
          <div class="photos">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.photo01.url}}" alt="photo01" class="photoOfDepartment default invisible">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.photo02.url}}" alt="photo02" class="photoOfDepartment invisible">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.photo03.url}}" alt="photo03" class="photoOfDepartment invisible">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.photo04.url}}" alt="photo04" class="photoOfDepartment invisible">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.photo05.url}}" alt="photo05" class="photoOfDepartment invisible">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.photo06.url}}" alt="photo06" class="photoOfDepartment invisible">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.photo07.url}}" alt="photo07" class="photoOfDepartment invisible">
          </div>  
        </div>
      </div>
    </div>
  </section>

  <script>
let fields = document.querySelectorAll('.field');
let photos = document.querySelectorAll('.photoOfDepartment');
for (let i=0; i < fields.length; i++) {
  fields[i].addEventListener("click", function(e){
    for(let y=0; y < fields.length; y++) {
      if (fields[y].classList.contains('clicked')) {
        fields[y].classList.remove('clicked');
        fields[y].firstElementChild.classList.remove('click');
      };
    };
    for( let z=0; z < photos.length; z++) {
      if (photos[z].classList.contains('default')) {
        photos[z].classList.remove('default');
      };
    };
    fields[i].classList.add('clicked');
    photos[i].classList.add('default');
  });
};
</script>

{% endblock %}

