@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-block-one {
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width: 1728px;
    position: relative;
    @include screen (0, 1024) {
      background: #160F50;
    }
    .shape {
      position: absolute;
      top: 0;
      left: 0;
      width: 960px;
      height: 468px;
      z-index: 2;
      @include screen (0, 1024) {
        width: 93.75vw;
        height: 45.7vw;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      img {
        width: 100%;
        height: 100%;
      }
      @include screen (0, 1024) {
        display: none;
      }
    }
    .container_inner {
      max-width: 1297px;
      margin-left: 260px;
      padding: 96px 0 85px 0;
      justify-content: space-between;
      @include screen (0, 1728) {
        margin: 0 auto;
      }
      @include screen (0, 1340) {
        margin: 0 20px;
        gap: 20px;
      }
      @include screen (0, 1024) {
        flex-direction: column-reverse;
      }
      @include screen (0, 414) {
        margin: 0 4.83vw;
        gap: 4.83vw;
        padding: 23.19vw 0 20.53vw 0;      
      }
      .photo {
        width: 568px;
        height: 502px;
        z-index: 3; 
        @include screen (0, 1024) {
          width: 80%;
          height: auto;
        }
        @include screen (0, 764) {
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text {
        width: 644px;
        align-items: flex-start;
        gap: 20px;
        z-index: 3; 
        @include screen (0, 1024) {
          width: 80%;
        }
        @include screen (0, 764) {
          width: 100%;
        }
        @include screen (0, 414) {
          gap: 4.83vw;
        }
      }
    }
  }
}
