* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-block-one .dsp-c-c,
.catalyx-block-one .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-block-one .dsp-c-c {
  flex-direction: column;
}
.catalyx-block-one .inner-container {
  max-width: 1728px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-one .inner-container {
    background: #160F50;
  }
}
.catalyx-block-one .inner-container .shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 468px;
  z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-one .inner-container .shape {
    width: 93.75vw;
    height: 45.7vw;
  }
}
.catalyx-block-one .inner-container .shape img {
  width: 100%;
  height: 100%;
}
.catalyx-block-one .inner-container .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.catalyx-block-one .inner-container .background img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-one .inner-container .background {
    display: none;
  }
}
.catalyx-block-one .inner-container .container_inner {
  max-width: 1297px;
  margin-left: 260px;
  padding: 96px 0 85px 0;
  justify-content: space-between;
}
@media only screen and (max-width: 1728px) {
  .catalyx-block-one .inner-container .container_inner {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1340px) {
  .catalyx-block-one .inner-container .container_inner {
    margin: 0 20px;
    gap: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-one .inner-container .container_inner {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-one .inner-container .container_inner {
    margin: 0 4.83vw;
    gap: 4.83vw;
    padding: 23.19vw 0 20.53vw 0;
  }
}
.catalyx-block-one .inner-container .container_inner .photo {
  width: 568px;
  height: 502px;
  z-index: 3;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-one .inner-container .container_inner .photo {
    width: 80%;
    height: auto;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-one .inner-container .container_inner .photo {
    width: 100%;
  }
}
.catalyx-block-one .inner-container .container_inner .photo img {
  width: 100%;
  height: 100%;
}
.catalyx-block-one .inner-container .container_inner .text {
  width: 644px;
  align-items: flex-start;
  gap: 20px;
  z-index: 3;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-one .inner-container .container_inner .text {
    width: 80%;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-one .inner-container .container_inner .text {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-one .inner-container .container_inner .text {
    gap: 4.83vw;
  }
}

/*# sourceMappingURL=style.css.map */
