{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="inner-container">
      <div class="shape">
        <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shape.url}}" alt="shape">
      </div>
      <div class="background">
        <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.background.url}}" alt="background">
      </div>
      <div class="container_inner dsp-c-r">
        <div class="photo">
        <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.firstimage.url}}" alt="firstimage">
        </div>
        <div class="text dsp-c-c">
            <InnerBlocks />
        </div>
      </div>
    </div>
  </section>
{% endblock %}
