.theme-button {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.theme-button .btn {
  background: #B7E539;
  color: #28334D;
  position: relative;
  border: 1px solid #B7E539;
  display: block;
  max-width: 285px;
  min-width: 285px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.theme-button .btn span {
  position: relative;
  z-index: 5;
  transition: all 0.3s ease-out;
}
.theme-button .btn:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #B7E539;
  z-index: 3;
}
.theme-button .btn:before {
  transition: all 0.3s ease-out;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #8655FF;
  z-index: 2;
  max-width: 0;
}
.theme-button .btn:hover:before {
  max-width: 285px;
}
.theme-button .btn:hover span {
  color: white;
}

/*# sourceMappingURL=style.css.map */
