{% extends "block-base.twig" %}

{% block content %}
<div class="{{blockClasses(block)}}">
{% for button in fields.buttons %}
    <a class="btn" href="{{button.link.url}}" target="{{button.link.target}}">
        <span>{{button.link.title}}</span>
    </a>
{% endfor %}
</div>
{% endblock %}
