block-preview {
  /* HTML5 display-role reset for older browsers */
}
block-preview html, block-preview body, block-preview div, block-preview span, block-preview applet, block-preview object, block-preview iframe,
block-preview h1, block-preview h2, block-preview h3, block-preview h4, block-preview h5, block-preview h6, block-preview p, block-preview blockquote, block-preview pre,
block-preview a, block-preview abbr, block-preview acronym, block-preview address, block-preview big, block-preview cite, block-preview code,
block-preview del, block-preview dfn, block-preview em, block-preview img, block-preview ins, block-preview kbd, block-preview q, block-preview s, block-preview samp,
block-preview small, block-preview strike, block-preview strong, block-preview sub, block-preview sup, block-preview tt, block-preview var,
block-preview b, block-preview u, block-preview i, block-preview center,
block-preview dl, block-preview dt, block-preview dd, block-preview ol, block-preview ul, block-preview li,
block-preview fieldset, block-preview form, block-preview label, block-preview legend,
block-preview table, block-preview caption, block-preview tbody, block-preview tfoot, block-preview thead, block-preview tr, block-preview th, block-preview td,
block-preview article, block-preview aside, block-preview canvas, block-preview details, block-preview embed,
block-preview figure, block-preview figcaption, block-preview footer, block-preview header, block-preview hgroup,
block-preview menu, block-preview nav, block-preview output, block-preview ruby, block-preview section, block-preview summary,
block-preview time, block-preview mark, block-preview audio, block-preview video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}
block-preview article, block-preview aside, block-preview details, block-preview figcaption, block-preview figure,
block-preview footer, block-preview header, block-preview hgroup, block-preview menu, block-preview nav, block-preview section {
  display: block;
}
block-preview body {
  line-height: 1;
}
block-preview ol, block-preview ul {
  list-style: none;
}
block-preview blockquote, block-preview q {
  quotes: none;
}
block-preview blockquote:before, block-preview blockquote:after,
block-preview q:before, block-preview q:after {
  content: "";
  content: none;
}
block-preview table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}
.container.is-style-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.container-xl, .container-sm {
  margin: 0 auto;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-sm {
    max-width: 65vw;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-xl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1366px) {
  .container-xl {
    max-width: 1366px;
  }
}

.size-full {
  width: 100%;
}

.aligncenter {
  text-align: center;
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}

.wp-site-blocks {
  overflow: hidden;
}

.wp-block-group.has-background {
  padding: 1.25em 2.375em;
}

.wp-block-quote {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 68px 0px;
  padding: 45px 25px;
  text-align: center;
  margin: 25px 0;
}
@media only screen and (min-width: 1280px) {
  .wp-block-quote {
    margin: 35px 0;
    padding: 50px 60px;
  }
}
@media only screen and (min-width: 1536px) {
  .wp-block-quote {
    padding: 60px 70px;
  }
}
.wp-block-quote p {
  font-size: 14px;
  line-height: 20px;
  color: rgb(14, 38, 49);
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .wp-block-quote p {
    font-size: 18px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .wp-block-quote p {
    font-size: 20px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 1280px) {
  .wp-block-quote p {
    font-size: 22px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1536px) {
  .wp-block-quote p {
    font-size: 26px;
    line-height: 32px;
  }
}
.wp-block-quote cite {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: rgb(102, 102, 102);
  font-style: normal;
}
@media only screen and (min-width: 768px) {
  .wp-block-quote cite {
    font-size: 14px;
    line-height: 22px;
  }
}
@media only screen and (min-width: 1024px) {
  .wp-block-quote cite {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .wp-block-quote cite {
    font-size: 18px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 1536px) {
  .wp-block-quote cite {
    font-size: 20px;
    line-height: 28px;
  }
}

.wp-block-image {
  margin: 25px 0;
}
@media only screen and (min-width: 1280px) {
  .wp-block-image {
    margin: 50px 0;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("/wp-content/themes/catalyx/assets/fonts/icomoon.ttf") format("truetype"), url("/wp-content/themes/catalyx/assets/fonts/icomoon.woff") format("woff"), url("/wp-content/themes/catalyx/assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* bricolage-grotesque-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/catalyx/assets/fonts/bricolage-grotesque-v1-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 500;
  src: url("/wp-content/themes/catalyx/assets/fonts/bricolage-grotesque-v1-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 600;
  src: url("/wp-content/themes/catalyx/assets/fonts/bricolage-grotesque-v1-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/catalyx/assets/fonts/plus-jakarta-sans-v8-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/wp-content/themes/catalyx/assets/fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  font-size: 16px;
  line-height: 20px;
  font-family: "Plus Jakarta Sans";
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 20px;
    line-height: 30px;
  }
}

p {
  margin: 0.7em 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0;
  line-height: 1.14;
  font-weight: 500;
  color: rgb(0, 47, 61);
  font-family: "Bricolage Grotesque", sans-serif;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 600 !important;
}

h1 {
  font-size: calc(1.45rem + 2.4vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.25rem;
  }
}
h2 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}
h3 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2rem;
  }
}
h4 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.75rem;
  }
}
h5 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h5 {
    font-size: 1.5rem;
  }
}
h6 {
  font-size: 1.25rem;
}

strong {
  font-weight: 500;
}

.has-text-align-center {
  text-align: center;
}

ul {
  list-style: none;
  margin: 1em 0;
  padding-left: 30px;
}
@media only screen and (min-width: 1280px) {
  ul {
    padding-left: 40px;
  }
}
ul li {
  color: #160F50;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  ul li {
    font-size: 20px;
    line-height: 30px;
  }
}
ul li:before {
  font-family: "icomoon";
  content: "\e902";
  color: #B7E539;
  position: absolute;
  left: -30px;
  top: 3px;
}
@media only screen and (min-width: 1280px) {
  ul li:before {
    top: 2px;
    left: -40px;
  }
}
ul li + li {
  margin-top: 6px;
}
@media only screen and (min-width: 1280px) {
  ul li + li {
    margin-top: 10px;
  }
}

ol {
  list-style: decimal;
  margin: 1em 0;
  padding-left: 20px;
}
@media only screen and (min-width: 1280px) {
  ol {
    padding-left: 25px;
  }
}
ol li {
  color: #666666;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  ol li {
    font-size: 20px;
    line-height: 30px;
  }
}
ol li + li {
  margin-top: 7px;
}
@media only screen and (min-width: 1280px) {
  ol li + li {
    margin-top: 10px;
  }
}

.block-editor-default-block-appender .block-editor-inserter {
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 10px;
  border: 5px dotted #d50032;
  width: calc(100% - 30px);
}
.block-editor-default-block-appender .block-editor-inserter button {
  transition: all 0.3s ease-out;
  margin: auto !important;
  background: #d50032 !important;
  border: 1px solid #d50032 !important;
}
.block-editor-default-block-appender .block-editor-inserter button svg {
  transition: all 0.3s ease-out;
  color: white;
}
.block-editor-default-block-appender .block-editor-inserter button:hover {
  background: white !important;
}
.block-editor-default-block-appender .block-editor-inserter button:hover svg {
  color: #d50032;
}

.block-editor-block-list__block .block-list-appender {
  position: relative !important;
}

.block-editor-block-list__block .block-list-appender .block-editor-default-block-appender {
  height: 54px !important;
}

block-preview .acf-block-body {
  margin: 50px 0 !important;
}

block-preview section {
  padding: 50px 0 !important;
}
block-preview p,
block-preview li {
  margin: 0.5em !important;
  line-height: 1.2 !important;
}

/*# sourceMappingURL=editor.css.map */
