* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-block-thirteen h3 {
  font-weight: 500;
  color: #160F50;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-thirteen h3 {
    font-size: 9.66vw;
    line-height: 11.6vw;
  }
}
.catalyx-block-thirteen .content h3 {
  color: #8655FF;
}
.catalyx-block-thirteen .content p {
  color: #160F50;
}
.catalyx-block-thirteen .dsp-c-c,
.catalyx-block-thirteen .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-block-thirteen .dsp-c-c {
  flex-direction: column;
}
.catalyx-block-thirteen .inner-container {
  max-width: 1196px;
  margin: 0 auto;
  padding: 75px 0 49px 0;
  gap: 50px;
  align-items: flex-start;
}
@media only screen and (max-width: 1240px) {
  .catalyx-block-thirteen .inner-container {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-thirteen .inner-container {
    padding: 11.25vw 0 6.41vw 0;
    gap: 9.94vw;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-thirteen .inner-container {
    margin: 4.83vw;
  }
}
.catalyx-block-thirteen .inner-container .content {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 1196px) {
  .catalyx-block-thirteen .inner-container .content {
    gap: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-thirteen .inner-container .content {
    flex-direction: column;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-thirteen .inner-container .content {
    gap: 4.83vw;
  }
}
.catalyx-block-thirteen .inner-container .content .left,
.catalyx-block-thirteen .inner-container .content .right {
  align-items: flex-start;
  gap: 26px;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-thirteen .inner-container .content .left,
  .catalyx-block-thirteen .inner-container .content .right {
    gap: 6.28vw;
  }
}
.catalyx-block-thirteen .inner-container .content .left {
  width: 580px;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-thirteen .inner-container .content .left {
    width: 100%;
  }
}
.catalyx-block-thirteen .inner-container .content .right {
  width: 554px;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-thirteen .inner-container .content .right {
    width: 100%;
  }
}
.catalyx-block-thirteen.is-style-alt {
  background: #f1eff9;
}

/*# sourceMappingURL=style.css.map */
