@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-block-thirteen {
  h3 {
    font-weight: 500;
    color: #160F50;
    @include screen (0, 414) {
      font-size: 9.66vw;
      line-height: 11.6vw;
    }
  }
  .content {
    h3 {
      color: #8655FF;
    }
    p {
      color:#160F50;
    }
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width: 1196px;
    margin: 0 auto;
    padding: 75px 0 49px 0;
    gap: 50px;
    align-items: flex-start;
    @include screen (0, 1240) {
      margin: 0 20px;
    }
    @include screen (0, 764) {
      padding: 11.25vw 0 6.41vw 0;
      gap: 9.94vw;
    }
    @include screen (0, 414) {
      margin: 4.83vw;
    }
    .content {
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      @include screen (0, 1196) {
        gap: 20px;
      }
      @include screen (0, 1024) {
        flex-direction: column;
      }
      @include screen (0, 414) {
        gap: 4.83vw;
      }
      .left,
      .right {
        align-items: flex-start;
        gap: 26px;
        @include screen (0, 414) {
          gap: 6.28vw;
        }
      }
      .left {
        width: 580px;
        @include screen (0, 1024) {
          width: 100%;
        }  
      }
      .right {
        width: 554px;
        @include screen (0, 1024) {
          width: 100%;
        }  
      }
    }
  }
  &.is-style-alt {
    background: #f1eff9;
  }
}
