{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="inner-container dsp-c-c">
    {% if fields.content.headline|length > 1 %}
      <div class="headline">
        <h3>
          {{fields.content.headline}}
        </h3>
      </div>
    {% endif %}
      <div class="content dsp-c-r">
        <div class="left dsp-c-c">
          {{fields.content.paragraphleft}}
        </div>
        <div class="right dsp-c-c">
          {{fields.content.paragraphright}}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
