@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-block-seven-two {
  background: #F1EFF9;
  position: relative;
  .wp-block-group.has-background {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
  .shape-big {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 556px;
    height: 100%;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
    }
    @include screen (0, 1024) {
      width: 54.3vw;
    }
  }
  .shape-medium {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 729px;
    height: 65%;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
    }
    @include screen (0, 1024) {
      width: 71.19vw;
    }
  }
  h3 {
    font-size: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 500;
    color: #8655FF;
    @include screen (1280) {
      font-size: 24px;
    }
  }
  h5 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    color: #160F50;
    @include screen (0, 414) {
      font-size: 5.8vw;
      line-height: 7.25vw;
    }
  }
  p {
    font-weight: 400;
    color: #160F50;
  }
  .bold {
    font-weight: 600;
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width: 1316px;
    margin-left: 277px;
    padding: 96px 0;
    justify-content: space-between;
    align-items: flex-start;
    @include screen (0, 1593) {
      margin: 0 auto;
    }
    @include screen (0, 1356) {
      margin: 0 20px;
      gap: 20px;
    }
    @include screen (0, 1024) {
      flex-direction: column;
      align-items: center;
    }
    @include screen (0, 764) {
      padding: 12.56vw 0;
    }
    @include screen (0, 414) {
      gap: 4.83vw;
      margin: 0 4.83vw;
    }
    .right {
      width: 452px;
      // height: 593px;
      z-index: 3;
      img {
        width: 100%;
        height: 100%;
      }
      @include screen (0, 1024) {
        width: 80%;
        height: auto;
      }
      @include screen (0, 764) {
        width: 100%;
      }
    }
    .left {
      width: 794px;
      align-items: flex-start;
      gap: 20px;
      @include screen (0, 1024) {
        width: 80%;
      }
      @include screen (0, 764) {
        width: 100%;
      }
      @include screen (0, 414) {
        gap: 4.83vw;
      }
      .container_inner {
        width: 100%;
        background: #F1EFF9;
        box-shadow: 0 3px 6px #00000029;
        padding: 28px 10px 39px 40px;
        align-items: flex-start;
        gap: 20px;
        z-index: 3;
        @include screen (0, 414) {
          padding: 6.76vw 2.42vw 9.42vw 9.66vw;
          gap: 4.83vw;
        }
        .boxes {
          width: 100%;
          align-items: flex-start;
          gap: 10px;
          @include screen (0, 414) {
            gap: 2.42vw;
          }
          .box {
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            @include screen (0, 414) {
              gap: 3.86vw;
              img {
                width: 6.28vw;
                height: 4.59vw;
              }
            }
          }
        }
      }
    }
  }
}

.catalyx-block-seven-two.is-style-alt {
  .inner-container {
    align-items: center !important;
  }
}