* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-block-seven-two {
  background: #F1EFF9;
  position: relative;
}
.catalyx-block-seven-two .wp-block-group.has-background {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.catalyx-block-seven-two .shape-big {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 556px;
  height: 100%;
  z-index: 2;
}
.catalyx-block-seven-two .shape-big img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-seven-two .shape-big {
    width: 54.3vw;
  }
}
.catalyx-block-seven-two .shape-medium {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 729px;
  height: 65%;
  z-index: 1;
}
.catalyx-block-seven-two .shape-medium img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-seven-two .shape-medium {
    width: 71.19vw;
  }
}
.catalyx-block-seven-two h3 {
  font-size: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
  color: #8655FF;
}
@media only screen and (min-width: 1280px) {
  .catalyx-block-seven-two h3 {
    font-size: 24px;
  }
}
.catalyx-block-seven-two h5 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  color: #160F50;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-seven-two h5 {
    font-size: 5.8vw;
    line-height: 7.25vw;
  }
}
.catalyx-block-seven-two p {
  font-weight: 400;
  color: #160F50;
}
.catalyx-block-seven-two .bold {
  font-weight: 600;
}
.catalyx-block-seven-two .dsp-c-c,
.catalyx-block-seven-two .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-block-seven-two .dsp-c-c {
  flex-direction: column;
}
.catalyx-block-seven-two .inner-container {
  max-width: 1316px;
  margin-left: 277px;
  padding: 96px 0;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 1593px) {
  .catalyx-block-seven-two .inner-container {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1356px) {
  .catalyx-block-seven-two .inner-container {
    margin: 0 20px;
    gap: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-seven-two .inner-container {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-seven-two .inner-container {
    padding: 12.56vw 0;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-seven-two .inner-container {
    gap: 4.83vw;
    margin: 0 4.83vw;
  }
}
.catalyx-block-seven-two .inner-container .right {
  width: 452px;
  z-index: 3;
}
.catalyx-block-seven-two .inner-container .right img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-seven-two .inner-container .right {
    width: 80%;
    height: auto;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-seven-two .inner-container .right {
    width: 100%;
  }
}
.catalyx-block-seven-two .inner-container .left {
  width: 794px;
  align-items: flex-start;
  gap: 20px;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-seven-two .inner-container .left {
    width: 80%;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-seven-two .inner-container .left {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-seven-two .inner-container .left {
    gap: 4.83vw;
  }
}
.catalyx-block-seven-two .inner-container .left .container_inner {
  width: 100%;
  background: #F1EFF9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  padding: 28px 10px 39px 40px;
  align-items: flex-start;
  gap: 20px;
  z-index: 3;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-seven-two .inner-container .left .container_inner {
    padding: 6.76vw 2.42vw 9.42vw 9.66vw;
    gap: 4.83vw;
  }
}
.catalyx-block-seven-two .inner-container .left .container_inner .boxes {
  width: 100%;
  align-items: flex-start;
  gap: 10px;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-seven-two .inner-container .left .container_inner .boxes {
    gap: 2.42vw;
  }
}
.catalyx-block-seven-two .inner-container .left .container_inner .boxes .box {
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-seven-two .inner-container .left .container_inner .boxes .box {
    gap: 3.86vw;
  }
  .catalyx-block-seven-two .inner-container .left .container_inner .boxes .box img {
    width: 6.28vw;
    height: 4.59vw;
  }
}

.catalyx-block-seven-two.is-style-alt .inner-container {
  align-items: center !important;
}

/*# sourceMappingURL=style.css.map */
