{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="shape-big">
      {% if fields.content.shape_big.url|length > 1 %}
        <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shape_big.url}}" alt="">
      {% endif %}
      </div>
      <div class="shape-medium">
        {% if fields.content.shape_medium.url|length > 1 %}
        <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shape_medium.url}}" alt="">
        {% endif %}
      </div>
      <div class="inner-container dsp-c-r">
      <div class="left dsp-c-c">
        <InnerBlocks />
      </div>
      <div class="right">
        <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.right_image.url}}" alt="left_image">
      </div>
    </div>
  </section>
{% endblock %}

