.catalyx-block-two h3 {
  color: #FFFFFF;
}
.catalyx-block-two .dsp-c-c,
.catalyx-block-two .dsp-c-r {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.catalyx-block-two .dsp-c-c {
  flex-direction: column;
}
.catalyx-block-two .inner-container {
  max-width: 1728px;
  position: relative;
  border-radius: 25px 0 0 25px;
  background: #8655FF;
  margin-left: auto;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-two .inner-container {
    border-radius: 0;
  }
}
.catalyx-block-two .inner-container .shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 960px;
  height: 468px;
  z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-two .inner-container .shape {
    width: 93.75vw;
    height: 45.7vw;
  }
}
.catalyx-block-two .inner-container .shape img {
  width: 100%;
  height: 100%;
}
.catalyx-block-two .inner-container .container_inner {
  max-width: 1281px;
  margin-left: 170px;
  padding: 75px 0 97px 0;
  justify-content: space-between;
}
@media only screen and (max-width: 1728px) {
  .catalyx-block-two .inner-container .container_inner {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1320px) {
  .catalyx-block-two .inner-container .container_inner {
    margin: 0 20px;
    gap: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-two .inner-container .container_inner {
    flex-direction: column;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-two .inner-container .container_inner {
    margin: 0 4.83vw;
    gap: 4.83vw;
    padding: 20.77vw 0 23.42vw 0;
  }
}
.catalyx-block-two .inner-container .container_inner .text_left {
  width: 512px;
  z-index: 3;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-two .inner-container .container_inner .text_left {
    width: 80%;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-two .inner-container .container_inner .text_left {
    width: 100%;
  }
}
.catalyx-block-two .inner-container .container_inner .text_right {
  width: 628px;
  align-items: flex-start;
  gap: 20px;
  z-index: 3;
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-two .inner-container .container_inner .text_right {
    width: 80%;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-two .inner-container .container_inner .text_right {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-two .inner-container .container_inner .text_right {
    gap: 4.83vw;
  }
}

/*# sourceMappingURL=style.css.map */
