@import "mixins.scss";

.catalyx-block-two {
  h3 {
    color:#FFFFFF;
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width: 1728px;
    position: relative;
    border-radius: 25px 0 0 25px;
    background: #8655FF;
    margin-left: auto;
    @include screen (0, 1024) {
      border-radius: 0;
    }
    .shape {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 960px;
      height: 468px;
      z-index: 2;
      @include screen (0, 1024) {
        width: 93.75vw;
        height: 45.7vw;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .container_inner {
      max-width: 1281px;
      margin-left: 170px;
      padding: 75px 0 97px 0;
      justify-content: space-between;
      @include screen (0, 1728) {
        margin: 0 auto;
      }
      @include screen (0, 1320) {
        margin: 0 20px;
        gap: 20px;
      }
      @include screen (0, 1024) {
        flex-direction: column;
      }
      @include screen (0, 414) {
        margin: 0 4.83vw;
        gap: 4.83vw;
        padding: 20.77vw 0 23.42vw 0;      
      }
      .text_left {
        width: 512px;
        z-index: 3;
        @include screen (0, 1024) {
          width: 80%;
        }
        @include screen (0, 764) {
          width: 100%;
        }
      }
      .text_right {
        width: 628px;
        align-items: flex-start;
        gap: 20px;
        z-index: 3; 
        @include screen (0, 1024) {
          width: 80%;
        }
        @include screen (0, 764) {
          width: 100%;
        }
        @include screen (0, 414) {
          gap: 4.83vw;
        }
      }
    }

  }
}
