{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="inner-container">
      <div class="shape">
        <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.shape.url}}" alt="shape">
      </div>
      <div class="container_inner dsp-c-r">
        <div class="text_left">
          <h3>
            {{fields.content.headline}}
          </h3>
        </div>
        <div class="text_right">
          <InnerBlocks />
        </div>
      </div>
    </div>
  </section>
{% endblock %}
