@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-block-four {
  margin-top: 25px;
  @include screen(1280) {
    margin-top: 50px;
  }
  h3 {
    font-weight: 600;
    color: #8655FF;
    text-align: center;
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width: 1728px;
    border-radius: 0 25px 0 0px;
    background: #F1EFF9;
    box-shadow: 0 3px 6px #00000029;
    .container_inner {
      max-width: 1358px;
      gap: 50px;
      margin-left: 281px;
      padding: 75px 0;
      @include screen (0, 1728) {
        margin: 0 auto;
      }
      @include screen (0, 1400) {
        margin: 0 20px;
      }
      @include screen (0, 764) {
        gap: 11.38vw;
      }
      @include screen (0, 414) {
        margin: 0 4.83vw;
        padding: 21.25vw 0 23.19vw 0;      
      }
      .boxes {
        width: 100%;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-around !important;
        @include screen (0, 414) {
          gap: 2.41vw;
        }
        .box {
          width: 300px;
          height: 226px;
          overflow: hidden;
          box-shadow: 8px 5px 68px #28334D31;
          background: white;
          @include screen (0, 1270) {
            width: 450px;
            height: 339px;
            img {
              transform: scale(1.5);
            }
          }
          @include screen (0, 950) {
            width: 300px;
            height: 226px;
              img {
              transform: scale(1);
            }
          }
          @include screen (0, 414) {
            width: 72.45vw;
            height: 54.59vw;
            img {
              width:90%;
              height: auto;
            }
          }
        }
      }
    }
  }
}


.catalyx-block-four {
  &.is-style-alt {
    .inner-container {
      background:#7D85AA;
    }
    .headline {
      h3 {
        color:white !important;
      }
    }
  }
}