* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-block-four {
  margin-top: 25px;
}
@media only screen and (min-width: 1280px) {
  .catalyx-block-four {
    margin-top: 50px;
  }
}
.catalyx-block-four h3 {
  font-weight: 600;
  color: #8655FF;
  text-align: center;
}
.catalyx-block-four .dsp-c-c,
.catalyx-block-four .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-block-four .dsp-c-c {
  flex-direction: column;
}
.catalyx-block-four .inner-container {
  max-width: 1728px;
  border-radius: 0 25px 0 0px;
  background: #F1EFF9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.catalyx-block-four .inner-container .container_inner {
  max-width: 1358px;
  gap: 50px;
  margin-left: 281px;
  padding: 75px 0;
}
@media only screen and (max-width: 1728px) {
  .catalyx-block-four .inner-container .container_inner {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1400px) {
  .catalyx-block-four .inner-container .container_inner {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-four .inner-container .container_inner {
    gap: 11.38vw;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-four .inner-container .container_inner {
    margin: 0 4.83vw;
    padding: 21.25vw 0 23.19vw 0;
  }
}
.catalyx-block-four .inner-container .container_inner .boxes {
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around !important;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-four .inner-container .container_inner .boxes {
    gap: 2.41vw;
  }
}
.catalyx-block-four .inner-container .container_inner .boxes .box {
  width: 300px;
  height: 226px;
  overflow: hidden;
  box-shadow: 8px 5px 68px rgba(40, 51, 77, 0.1921568627);
  background: white;
}
@media only screen and (max-width: 1270px) {
  .catalyx-block-four .inner-container .container_inner .boxes .box {
    width: 450px;
    height: 339px;
  }
  .catalyx-block-four .inner-container .container_inner .boxes .box img {
    transform: scale(1.5);
  }
}
@media only screen and (max-width: 950px) {
  .catalyx-block-four .inner-container .container_inner .boxes .box {
    width: 300px;
    height: 226px;
  }
  .catalyx-block-four .inner-container .container_inner .boxes .box img {
    transform: scale(1);
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-four .inner-container .container_inner .boxes .box {
    width: 72.45vw;
    height: 54.59vw;
  }
  .catalyx-block-four .inner-container .container_inner .boxes .box img {
    width: 90%;
    height: auto;
  }
}

.catalyx-block-four.is-style-alt .inner-container {
  background: #7D85AA;
}
.catalyx-block-four.is-style-alt .headline h3 {
  color: white !important;
}

/*# sourceMappingURL=style.css.map */
