{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="inner-container">
      <div class="container_inner dsp-c-c">
        <div class="headline">
          <h3>
            {{fields.content.headline}}
          </h3>
        </div>
        <div class="boxes dsp-c-r">
          <div class="box dsp-c-r">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.logo01.url}}" alt="logo01">
          </div>
          <div class="box dsp-c-r">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.logo02.url}}" alt="logo02">
          </div>
          <div class="box dsp-c-r">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.logo03.url}}" alt="logo03">
          </div>
          <div class="box dsp-c-r">
            <img src="https://aonndpeydo.cloudimg.io/v7/{{fields.content.logo04.url}}" alt="logo04">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

