* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalyx-block-fifteen h4 {
  font-weight: 600;
  color: #8655FF;
  font-size: 20px;
}
@media only screen and (min-width: 1280px) {
  .catalyx-block-fifteen h4 {
    font-size: 24px;
  }
}
.catalyx-block-fifteen .bold {
  font-weight: 600;
}
.catalyx-block-fifteen .dsp-c-c,
.catalyx-block-fifteen .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalyx-block-fifteen .dsp-c-c {
  flex-direction: column;
}
.catalyx-block-fifteen .inner-container {
  max-width: 1209px;
  margin: 0 auto;
  padding: 96px 0;
  justify-content: space-between;
}
@media only screen and (max-width: 1250px) {
  .catalyx-block-fifteen .inner-container {
    margin: 0 20px;
    gap: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-fifteen .inner-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-fifteen .inner-container {
    padding: 12.56vw 0;
  }
}
@media only screen and (max-width: 414px) {
  .catalyx-block-fifteen .inner-container {
    margin: 0 4.83vw;
    gap: 4.83vw;
  }
}
.catalyx-block-fifteen .inner-container .blog {
  text-decoration: none;
  display: block;
  width: 560px;
  border-radius: 5px;
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.0392156863);
}
@media only screen and (max-width: 1024px) {
  .catalyx-block-fifteen .inner-container .blog {
    width: 80%;
  }
}
@media only screen and (max-width: 764px) {
  .catalyx-block-fifteen .inner-container .blog {
    width: 100%;
  }
}
.catalyx-block-fifteen .inner-container .blog .photo {
  width: 100%;
}
.catalyx-block-fifteen .inner-container .blog .photo img {
  width: 100%;
}
.catalyx-block-fifteen .inner-container .blog .text {
  padding: 35px;
}
@media only screen and (max-width: 764px) {
  .catalyx-block-fifteen .inner-container .blog .text {
    padding: 9.7vw 5.62vw 4.71vw 5.1vw;
  }
}
.catalyx-block-fifteen .inner-container .blog .text h4 {
  margin-bottom: 8px;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-fifteen .inner-container .blog .text h4 {
    margin-bottom: 1.93vw;
  }
}
.catalyx-block-fifteen .inner-container .blog .text p {
  margin-bottom: 24px;
}
@media only screen and (max-width: 414px) {
  .catalyx-block-fifteen .inner-container .blog .text p {
    margin-bottom: 5.8vw;
  }
}
.catalyx-block-fifteen .preview {
  color: #160F50;
}
.catalyx-block-fifteen .date {
  color: #160F50;
}
.catalyx-block-fifteen .date > * {
  color: #160F50;
}
.catalyx-block-fifteen .sep {
  color: #B7E539 !important;
}

/*# sourceMappingURL=style.css.map */
