@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.catalyx-block-fifteen {
  h4 {
    font-weight: 600;
    color: #8655FF;
    font-size: 20px;
    @include screen(1280) {
      font-size: 24px;
    }
  }
  .bold {
    font-weight: 600;
  }
  .dsp-c-c,
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dsp-c-c {
    flex-direction: column;
  }
  .inner-container {
    max-width: 1209px;
    margin: 0 auto;
    padding: 96px 0;
    justify-content: space-between;    
    @include screen (0, 1250){
      margin: 0 20px;
      gap: 20px;
    }
    @include screen (0, 1024) {
      flex-direction: column;
    }
    @include screen (0, 764) {
      padding: 12.56vw 0;
    }
    @include screen (0, 414) {
      margin: 0 4.83vw;
      gap: 4.83vw;
    }
    .blog {
      text-decoration: none;
      display:block;
      width: 560px;
      border-radius: 5px;
      box-shadow: 10px 25px 40px #0000000A;
      @include screen (0, 1024) {
        width: 80%;
      }
      @include screen (0, 764) {
        width: 100%;
      }
      .photo {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .text {
        padding: 35px;
        @include screen (0, 764) {
          padding: 9.7vw 5.62vw 4.71vw 5.1vw;
        }
        h4 {
        margin-bottom: 8px;
        @include screen (0, 414) {
          margin-bottom: 1.93vw;
        }
        }
        p {
          margin-bottom: 24px;
          @include screen (0, 414) {
            margin-bottom: 5.8vw;
          }  
        }
      }
    }
  }
  .preview {
    color:#160F50;
  }
  .date {
    color:#160F50;
    & > * {
      color:#160F50;
    }
  }
  .sep {
    color:#B7E539 !important;
  }
}
