{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
      <div class="inner-container dsp-c-r">
      {% for item in objects %}
      <a class="blog dsp-c-c" href="{{item.link}}">
        <div class="photo">
          <img src="https://aonndpeydo.cloudimg.io/v7/{{item.thumbnail}}" alt="photo01">
        </div>
        <div class="text">
          <h4>
            {{item.title}}
          </h4>
          <p class="preview">
            {{ item.preview.length(15).read_more('') }}
          </p>
          <p class="date">
            <span class="bold">News </span><span class="sep">|</span> {{item.date}}
          <p>
        </div>
      </a>
      {% endfor %}
    </div>
   </section>
{% endblock %}